<div class="cctable-container border-2-anthilla-gray" style="width: 100%; min-height: 100px;  margin-bottom: 15px; padding: 15px;" data-guid="@Model.Guid">
    <legend><i class="icon-wrench on-left"></i> @Model.Alias</legend>
    <table class="table" data-table-content="@Model.Guid">
        <tbody>
            @foreach (antdlib.CCTable.CCTableRowModel row in Model.Content) {
                <tr data-row-guid="@row.Guid" data-row-nuid="@row.NUid">
                    <td style="width: 90%;">
                        <label>configuring: @row.File</label>
                        <textarea class="bg-anthilla-gray fg-white border-anthilla-gray" style="width: 90%;">
                            @antdlib.FileSystem.ReadFile(row.File)
                        </textarea>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form action="/cctable/row/conf" method="POST" enctype="multipart/form-data" data-table-form="@Model.Guid" class="grid border-anthilla-gray" style="display: none; padding: 5px; margin-bottom: -20px !important;">
        <div class="row">
            <div class="span3">
                <label>File</label>
            </div>
            <div class="span7">
                <input type="hidden" name="TableGuid" value="@Model.Guid">
                <input type="hidden" name="TableName" value="@Model.Alias">
                <input type="hidden" name="Context" value="@Model.Context">
                <input type="text" name="File" style="width: 90%; height: 25px;">
            </div>
        </div>
        <hr class="bg-anthilla-gray" style="height: 1px !important;">
        <div class="row">
            <div class="span3">
                <label>&nbsp</label>
            </div>
            <div class="span7">
                <input class="bg-anthilla-green" type="submit" value="Create" style="width: 90%;">
            </div>
        </div>
    </form>
    <hr class="bg-anthilla-gray" />
    <input type="button" class="bg-anthilla-blu" data-cctable-role="add-row" data-table-guid="@Model.Guid" value="New Row" />
    <input type="button" class="bg-anthilla-orange" data-cctable-role="delete-table" data-table-guid="@Model.Guid" value="Delete" />
</div>
