<div class="cctable-container border-2-anthilla-gray" style="width: 100%; min-height: 100px;  margin-bottom: 15px; padding: 15px;" data-guid="@Model.Guid">
    <legend><i class="icon-dashboard on-left"></i> @Model.Alias</legend>
    <table class="table" data-table-content="@Model.Guid">
        <tbody>
            @foreach (antdlib.CCTable.CCTableRowModel row in Model.Content) {
                <tr data-row-guid="@row.Guid" data-row-nuid="@row.NUid">
                    <td style="width: 200px;">
                        <label>@row.Label</label>
                    </td>
                    <td style="width: 560px !important">
                        @if (row.CommandType == antdlib.CCTableCommandType.Direct) {
                            <input id="@row.Guid" data-sumbit-type="direct" type="button" value="Launch" class="bg-anthilla-green" style="width: 100% !important; color: #464646; float: left;" />
                        }
                        else if (row.CommandType == antdlib.CCTableCommandType.TextInput) {
                            <input id="@row.Guid" type="text" data-role="CommandInputTextData" style="width: 60%; height: 25px;" value="@antdlib.Terminal.Execute(row.CommandGet)" />
                            <input id="@row.Guid" data-sumbit-type="text" type="button" value="Apply" class="bg-anthilla-green" style="width: 40% !important; color: #464646; float: right;" />
                        }
                        else if (row.CommandType == antdlib.CCTableCommandType.BooleanPair) {
                            <select id="@row.Guid" data-role="CommandBooleanSelector">
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                            <input id="@row.Guid" data-sumbit-type="bool" type="button" value="Apply" class="bg-anthilla-green" style="width: 67% !important; color: #464646; float: right;" />
                        }
                    </td>
                    <td>
                        <p>@row.Notes</p>
                    </td>
                    <td style="width: 150px">
                        <p>Osi level: @row.FlagOsi</p>
                    </td>
                    <td style="width: 150px">
                        <p>Type: @row.FlagCommandFunction</p>
                    </td>
                    <td style="width: 30px">
                        <i class="icon-eye fg-anthilla-green" data-row-guid="@row.Guid" data-row-nuid="@row.NUid" data-row-role="main" style="cursor: pointer;"></i>
                    </td>
                </tr>
                <tr data-row-guid="@row.Guid" data-row-nuid="@row.NUid" data-row-role="@row.Guid" style="display: none; border-bottom: 6px solid #535353 !important;">
                    <td class="bg-anthilla-gray-m" style="border-right: 3px solid #535353 !important;"></td>
                    <td colspan="2" data-row-commands="list">
                        <label style="display: inline-block;">Associated Command(s)</label>
                        <br />
                        <p data-command="set">@row.CommandDirect</p>
                        <p data-command="set">@row.CommandSet</p>
                        <p data-command="set">@row.CommandGet</p>
                        <p data-command="get">@row.CommandFalse</p>
                        <p data-command="get">@row.CommandTrue</p>
                    </td>
                    <td>
                        <input data-cmd-guid="@row.Guid" type="button" value="Edit Command" class="bg-anthilla-violet set-edit-command" style="width: 100% !important" />
                    </td>
                    <td>
                        <input data-cmd-guid="@row.Guid" type="button" value="Delete" class="bg-anthilla-orange delete-command" style="width: 100% !important" />
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
    <form action="/cctable/row" method="POST" enctype="multipart/form-data" data-table-form="@Model.Guid" class="grid border-anthilla-gray" style="display: none; padding: 5px; margin-bottom: -20px !important;">
        <div class="row">
            <div class="span3">
                <label>Label</label>
            </div>
            <div class="span7">
                <input type="hidden" name="TableGuid" value="@Model.Guid">
                <input type="hidden" name="TableName" value="@Model.Alias">
                <input type="hidden" name="Context" value="@Model.Context">
                <input type="text" name="Label" style="width: 90%; height: 25px;" />
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <label>Input Type</label>
            </div>
            <div class="span12">
                <select name="InputType" class="bg-anthilla-gray border-anthilla-green fg-white" style="width: 90%; height: 25px;">
                    <option value="hidden" selected>Direct Command</option>
                    <option value="text">Text Input Command</option>
                    <option value="checkbox">Boolean Pair Command</option>
                </select>
            </div>
        </div>

        <hr class="bg-anthilla-gray" style="height: 1px !important;">
        <div id="NoneCommand">
            <div class="row">
                <div class="span3">
                    <label>Command -> set</label>
                </div>
                <div class="span7">
                    <textarea class="border-anthilla-green bg-anthilla-gray fg-white" style="width: 90%; height: 55px; display: inline;" name="CCTableCommandNone" autocomplete="off"></textarea>
                </div>
                <div class="span3">
                </div>
            </div>
        </div>
        <div id="TextCommand" style="display: none;">
            <div class="row">
                <div class="span3">
                    <label>Command -> set</label>
                </div>
                <div class="span7">
                    <textarea class="border-anthilla-green bg-anthilla-gray fg-white" style="width: 90%; height: 55px; display: inline;" name="CCTableCommandText" autocomplete="off"></textarea>
                </div>
                <div class="span3">
                    <input class="bg-indigo" id="AddInputReference" type="button" value="Add Input Reference">
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <label>Command -> get</label>
                </div>
                <div class="span7">
                    <textarea class="border-anthilla-green bg-anthilla-gray fg-white" style="width: 90%; height: 55px; display: inline;" name="InputCommand" autocomplete="off"></textarea>
                </div>
                <div class="span4">
                    <p>Write the command to get the value</p>
                </div>
            </div>
        </div>
        <div id="BooleanCommand" style="display: none;">
            <div class="row">
                <div class="span3">
                    <label>Command -> set for "true"</label>
                </div>
                <div class="span7">
                    <textarea class="border-anthilla-green bg-anthilla-gray fg-white" style="width: 90%; height: 55px; display: inline;" name="CCTableCommandBooleanTrue" autocomplete="off"></textarea>
                </div>
                <div class="span3">
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <label>Command -> set for "false"</label>
                </div>
                <div class="span7">
                    <textarea class="border-anthilla-green bg-anthilla-gray fg-white" style="width: 90%; height: 55px; display: inline;" name="CCTableCommandBooleanFalse" autocomplete="off"></textarea>
                </div>
                <div class="span3">
                </div>
            </div>
        </div>
        <hr class="bg-anthilla-gray" style="height: 1px !important;">
        <div class="row">
            <div class="span3">
                <label id="CCTAbleSettingShowMoreButton" style="cursor: pointer;">Show more...</label>
            </div>
        </div>
        <div id="CCTAbleSettingMore" style="display: none;">
            <div class="row">
                <div class="span3">
                    <label>Notes</label>
                </div>
                <div class="span7">
                    <textarea name="Notes" style="width: 90%; min-height: 125px;" class="bg-anthilla-gray border-anthilla-green fg-white"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <label>Flag OSI</label>
                </div>
                <div class="span7">
                    <select name="FlagOSI" class="bg-anthilla-gray border-anthilla-green fg-white" style="width: 90%; height: 25px;">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <label>Flag Command Function</label>
                </div>
                <div class="span7">
                    <select name="FlagFunction" class="bg-anthilla-gray border-anthilla-green fg-white" style="width: 90%; height: 25px;">
                        <option value="0" selected>Stable</option>
                        <option value="1">Testing</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <label>&nbsp</label>
            </div>
            <div class="span7">
                <input class="bg-anthilla-green" type="submit" value="Create Row">
            </div>
        </div>
    </form>
    <hr class="bg-anthilla-gray" />
    <input type="button" class="bg-anthilla-blu" data-cctable-role="add-row" data-table-guid="@Model.Guid" value="New Row" />
    <input type="button" class="bg-anthilla-orange" data-cctable-role="delete-table" data-table-guid="@Model.Guid" value="Delete" />
</div>
