@foreach (Antd.CCTable.CCTableModel table in Model) {
    <div class="cctable-container border-2-anthilla-gray" style="width: 100%; min-height: 100px;  margin-bottom: 15px; padding: 15px;" data-guid="@table.Guid">
        <legend>@table.Alias</legend>
        <table class="table hovered" data-table-content="@table.Guid">
            <tbody>
                @foreach (Antd.CCTable.CCTableRowModel row in table.Content) {
                    <tr data-row-guid="@row.Guid" data-row-nuid="@row.NUid" style="width: 250px !important;">
                        <td class="right">
                            <label>@row.Label</label>
                        </td>
                        <td style="width: 450px !important">
                            @if (row.InputType == "hidden") {
                                <input id="@row.HtmlInputID" type="hidden" value="0" style="width: 100% !important" />
                            }
                            else {
                                <input id="@row.HtmlInputID" type="@row.InputType" value="@row.ValueResult" style="width: 100% !important" />
                            }
                            <p>@row.InputLabel</p>
                        </td>
                        <td style="width: 250px !important">
                            <input id="@row.HtmlSumbitID" type="button" value="Apply" class="bg-anthilla-green" style="width: 100% !important"/>
                        </td>
                        <td>
                            <p>@row.Notes</p>
                        </td>
                        <td>
                            <p>@row.FlagOsi</p>
                        </td>
                        <td>
                            <p>@row.FlagCommandFunction</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_scripts")
        <hr class="bg-anthilla-gray" />
        <input type="button" class="bg-anthilla-blu" data-cctable-role="add-row" data-table-guid="@table.Guid" value="New Row"/>
        <input type="button" class="bg-anthilla-orange" data-cctable-role="delete-table" data-table-guid="@table.Guid" value="Delete"/>
    </div>
}
<hr class="bg-anthilla-gray" style="height: 1px !important;">
