<div class="cctable-container border-2-anthilla-gray" style="width: 100%; min-height: 100px;  margin-bottom: 15px; padding: 15px;" data-guid="@Model.Guid">
    <legend><i class="icon-bars on-left"></i>@Model.Alias</legend>
    <table class="table" data-table-content="@Model.Guid">
        <tbody>
            @foreach (Antd.CCTable.CCTableRowModel row in Model.Content) {
                <tr data-row-guid="@row.Guid" data-row-nuid="@row.NUid">
                    <td style="width: 200px;">
                        <label>@row.Label</label>
                    </td>
                    <td>
                        <textarea readonly="" style="width: 100%; height: auto; padding: 2px;" class="bg-anthilla-gray-m border-anthilla-gray fg-white">@row.ValueResult</textarea>
                    </td>
                    <td style="width: 400px;">
                        <p>@row.InputCommand</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <form action="/cctable/row/dataview" method="POST" enctype="multipart/form-data" data-table-form="@Model.Guid" class="grid border-anthilla-gray" style="display: none; padding: 5px; margin-bottom: -20px !important;">
        <div class="row">
            <div class="span3">
                <label>Label</label>
            </div>
            <div class="span7">
                <input type="hidden" name="TableGuid" value="@Model.Guid">
                <input type="hidden" name="TableName" value="@Model.Alias">
                <input type="hidden" name="Context" value="@Model.Context">
                <input type="text" name="Label" style="width: 90%; height: 25px;">
            </div>
        </div>
        <hr class="bg-anthilla-gray" style="height: 1px !important;">
        <div class="row">
            <div class="span3">
                <label>Command | Result</label>
            </div>
            <div class="span5">
                <input type="text" name="Command" style="width: 90%; height: 25px;">
            </div>
            <div class="span5">
                <input type="text" name="Result" style="width: 90%; height: 25px;">
            </div>
            <div class="span2">
                <input class="bg-darkTeal" data-role="import-data" type="button" value="ImportData">
            </div>
        </div>
        <div class="further-commands" data-table="@Model.Guid">
            <!-- your new commands-rows will go here -->
        </div>
        <hr class="bg-anthilla-gray" style="height: 1px !important;">
        <div class="row">
            <div class="span3">
                <label>&nbsp</label>
            </div>
            <div class="span7">
                <input class="bg-anthilla-green" type="submit" value="Create" style="width: 90%;">
            </div>
            <div class="span3">
                @*<input type="button" class="bg-anthilla-blu" data-cctable-role="add-column" data-table-guid="@Model.Guid" value="New Column"/>*@
            </div>
        </div>
    </form>
    <hr class="bg-anthilla-gray" />
    <input type="button" class="bg-anthilla-blu" data-cctable-role="add-row" data-table-guid="@Model.Guid" value="New Data"/>
    <input type="button" class="bg-anthilla-orange" data-cctable-role="delete-table" data-table-guid="@Model.Guid" value="Delete"/>
</div>
