<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ANTD</title>

    @Html.Partial("_scripts")
</head>
<body class="metro">
    @Html.Partial("_navbar")
    <div id="TopContent" class="">
        @Html.Partial("_toolbar")

        @RenderSection("PageBar", required: false)
        @RenderSection("Dashboard", required: false)
    </div>
    <div id="BottomContent">
        @RenderSection("MainContent", required: false)
        @RenderSection("LoadingBar", required: false)
    </div>

    @Html.Partial("_loadbar")

    <script src="/Content/Scripts/anthilla.js" type="text/javascript"></script>
    <script src="/Content/Scripts/anthilla.selectize.js" type="text/javascript"></script>
    <script src="/Content/Scripts/anthilla.tables.js" type="text/javascript"></script>
    @*<script src="/Content/Scripts/anthilla.vfs.js" type="text/javascript"></script>*@
    @RenderSection("Scripts", required: false)
    <!-- ------------------------ /Scripts ------------------------- -->
</body>
</html>