@*
    ///-------------------------------------------------------------------------------------
    ///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
    ///     All rights reserved.
    ///
    ///     Redistribution and use in source and binary forms, with or without
    ///     modification, are permitted provided that the following conditions are met:
    ///         * Redistributions of source code must retain the above copyright
    ///           notice, this list of conditions and the following disclaimer.
    ///         * Redistributions in binary form must reproduce the above copyright
    ///           notice, this list of conditions and the following disclaimer in the
    ///           documentation and/or other materials provided with the distribution.
    ///         * Neither the name of the Anthilla S.r.l. nor the
    ///           names of its contributors may be used to endorse or promote products
    ///           derived from this software without specific prior written permission.
    ///
    ///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    ///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    ///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
    ///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    ///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    ///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
    ///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    ///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    ///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    ///
    ///     20141110
    ///-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{Layout = "_layout.cshtml";}

@section MainContent {
    <input type="text" class="search-field" style="position: relative; margin-bottom: 15px; height: 30px; width: 100%; padding-left: 5px;" placeholder="Search">

    <table id="STOCKFILE" class="table searchable" style="width: 30% !important; display: inline-block !important; float: left; border-left: 5px solid #A7BD39;">
        <thead>
            <tr>
                <th class="text-left">Antd File ()</th>
                <th class="text-left">&nbsp</th>
            </tr>
        </thead>
        <tbody id="STOCKFILETable">
            @foreach (Antd.SysctlModel proc in Model.STOCKFILE) {
                <tr>
                    <td>@proc.param </td>
                    <td>@proc.value </td>
                </tr>
            }
        </tbody>
    </table>

    <table id="RUNNING" class="table searchable" style="width: 30% !important; display: inline-block !important; float: left; border-left: 5px solid #A7BD39;">
        <thead>
            <tr>
                <th class="text-left">RUNNING</th>
                <th class="text-left">&nbsp</th>
            </tr>
        </thead>
        <tbody id="RUNNINGTable">
            @foreach (Antd.SysctlModel proc in Model.RUNNING) {
                <tr>
                    <td>@proc.param </td>
                    <td>@proc.value </td>
                </tr>
            }
        </tbody>
    </table>

    <table id="ANTDFILE" class="table searchable" style="width: 30% !important; display: inline-block !important; float: left; border-left: 5px solid #A7BD39;">
        <thead>
            <tr>
                <th class="text-left">Antd File ()</th>
                <th class="text-left">&nbsp</th>
            </tr>
        </thead>
        <tbody id="ANTDFILETable">
            @foreach (Antd.SysctlModel proc in Model.ANTDFILE) {
                <tr>
                    <td>@proc.param </td>
                    <td>@proc.value </td>
                </tr>
            }
        </tbody>
    </table>

    <script type="text/javascript">
        //$('p.button').click(function () {
        //    jQuery.support.cors = true;
        //    var p = $(this).attr('data-param');
        //    var v = $('input[data-param="' + p + '"]').val();
        //    var s = {
        //        param: p,
        //        value: v,
        //    };
        //    $.ajax({
        //        url: '/status/sysctl/' + s.param + '/' + s.value,
        //        type: 'POST',
        //        data: JSON.stringify(s),
        //        contentType: "application/json;charset=utf-8",
        //        success: function () {
        //            alert('new value for "' + s.param + '" is: ' + s.value);
        //            location.reload(true);
        //            return false;
        //        }
        //    });
        //});

        $('.search-field').keyup(function () {
            var queryString = $(this).val();
            var table = $('.searchable');
            var tableBody = table.children('tbody');
            var row = tableBody.children('tr');
            row.each(function (index) {
                var thisRow = $(this);
                var queriedText = $(this).text();
                if (queriedText.indexOf(queryString) != -1) {
                    thisRow.show();
                }
                if (queriedText.indexOf(queryString) < 0) {
                    thisRow.hide();
                }
            });
        });
    </script>
}
