@*
    ///-------------------------------------------------------------------------------------
    ///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
    ///     All rights reserved.
    ///
    ///     Redistribution and use in source and binary forms, with or without
    ///     modification, are permitted provided that the following conditions are met:
    ///         * Redistributions of source code must retain the above copyright
    ///           notice, this list of conditions and the following disclaimer.
    ///         * Redistributions in binary form must reproduce the above copyright
    ///           notice, this list of conditions and the following disclaimer in the
    ///           documentation and/or other materials provided with the distribution.
    ///         * Neither the name of the Anthilla S.r.l. nor the
    ///           names of its contributors may be used to endorse or promote products
    ///           derived from this software without specific prior written permission.
    ///
    ///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    ///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    ///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
    ///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    ///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    ///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
    ///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    ///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    ///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    ///
    ///     20141110
    ///-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{Layout = "_layout.cshtml";}

@section Dashboard
{
@*    <form action="/filelayout" method="POST" enctype="multipart/form-data">
        <div class="grid">
            <div class="row">
                <div class="span6">
                    <label id="ShowETC"><i class="icon-plus-2 on-left"></i>Load an existing configuration file</label>
                </div>
            </div>
            <div class="row" id="ETCList" style="display: none; border-bottom: 2px solid white; padding-bottom: 5px; margin-bottom: 5px !important;">
                <div class="span12" style="max-height: 350px; overflow: scroll !important; width: 100% !important;">
                    <div style="width: 40%; border-right: 2px solid white; display: inline-block; float: left; margin-left: -2px;">
                        <ul style="list-style: none !important;">
                            <li class="directory-selector" data-path="/etc">
                                <a href="/dir/tree/etc"><i class="icon-folder on-left"></i>/etc</a>
                            </li>
                            @foreach (Antd.DirItemModel el in Model.folders) {
                                if (el.isFile == false) {
                                <li  class="directory-selector" data-path="@el.path">
                                    <a href="#"><i class="icon-folder on-left"></i>@el.path</a>
                                </li>
                                }
                            }
                        </ul>
                    </div>
                    <div style="display: inline-block; float: left; border-left: 2px solid white;">
                        <ul style="list-style: none !important;" id="FILES">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <label>layout name</label>
                </div>
                <div class="span6">
                    <input name="Name" type="text" style="width: 90%; height: 30px;" />
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <label>directory path</label>
                </div>
                <div class="span6">
                    <input name="Path" type="text" style="width: 90%; height: 30px;" />
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <label>file extension (*)</label>
                </div>
                <div class="span6">
                    <input name="Extns" type="text" style="width: 90%; height: 30px;" />
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <label>file content</label>
                </div>
                <div class="span10">
                    <textarea name="Content" style="width: 90%; min-height: 300px; padding: 5px;" class="border-anthilla-green fg-white bg-anthilla-gray"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="span10">
                    <input id="submit" class="bg-anthilla-green fg-white" type="submit" value="Submit" style="width: 100%;">
                </div>
            </div>
        </div>
    </form>*@
}

@section MainContent
{
    <input type="text" class="search-field" style="position: relative; margin-bottom: 15px; height: 30px; width: 100%; padding-left: 5px;" placeholder="Search">
    <table class="table searchable">
        <thead>
            <tr>
                <th class="text-left">etc content</th>
            </tr>
        </thead>
        <tbody>
            @functions {
                public string DisplayIcon(bool isfile) {
                    if (isfile == true) {
                        return "icon-file";
                    }
                    else return "icon-folder";
                }
            }
            @foreach (Antd.DirItemModel fl in Model.folders) {
                <tr>
                    <td><i class="@DisplayIcon(fl.isFile) on-left">@fl.path </td>
                </tr>
            }
        </tbody>
    </table>

    @*<table class="table searchable">
        <thead>
            <tr>
                <th class="text-left">name</th>
                <th class="text-left">base path</th>
                <th class="text-left">text layout</th>
            </tr>
        </thead>
        <tbody id="SysctlBodyTable">
            @foreach (Antd.FileLayoutModel fl in Model.ALL) {
                <tr>
                    <td style="text-align: center;">@fl.layoutname </td>
                    <td style="text-align: center;">@fl.path </td>
                    <td style="text-align: center;">@fl.content </td>
                </tr>
            }
        </tbody>
    </table>*@

    <script type="text/javascript">
        $('.search-field').keyup(function () {
            var queryString = $(this).val();
            var table = $('.searchable');
            var tableBody = table.children('tbody');
            var row = tableBody.children('tr');
            row.each(function (index) {
                var thisRow = $(this);
                var queriedText = $(this).text();
                if (queriedText.indexOf(queryString) != -1) {
                    thisRow.show();
                }
                if (queriedText.indexOf(queryString) < 0) {
                    thisRow.hide();
                }
            });
        });
    </script>
}
