@*
    ///-------------------------------------------------------------------------------------
    ///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
    ///     All rights reserved.
    ///
    ///     Redistribution and use in source and binary forms, with or without
    ///     modification, are permitted provided that the following conditions are met:
    ///         * Redistributions of source code must retain the above copyright
    ///           notice, this list of conditions and the following disclaimer.
    ///         * Redistributions in binary form must reproduce the above copyright
    ///           notice, this list of conditions and the following disclaimer in the
    ///           documentation and/or other materials provided with the distribution.
    ///         * Neither the name of the Anthilla S.r.l. nor the
    ///           names of its contributors may be used to endorse or promote products
    ///           derived from this software without specific prior written permission.
    ///
    ///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    ///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    ///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
    ///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    ///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    ///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
    ///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    ///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    ///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    ///
    ///     20141110
    ///-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{Layout = "_layout.cshtml";}
@section MainContent
{
    <table id="units" class="table searchable">
        <thead>
            <tr>
                <th class="text-left">UNIT</th>
                <th class="text-left" style="width: 250px;">Status</th>
                <th class="text-left" style="width: 600px;">&nbsp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Antd.UnitModel unit in Model) {
                <tr>
                    <td>@unit.name </td>
                    <td>@unit.status </td>
                    <td>
                        <a href="#" class="button bg-gray unit-start" data-unit="@unit.name">Start</a>
                        <a href="#" class="button bg-gray unit-stop" data-unit="@unit.name">Stop</a>
                        <a href="#" class="button bg-gray unit-enable" data-unit="@unit.name">Enable</a>
                        <a href="#" class="button bg-gray unit-disable" data-unit="@unit.name">Disable</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script type="text/javascript">
        //oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
        $('a.unit-start').click(function () {
            var p = $(this).attr('data-unit');
            jQuery.support.cors = true;
            $.ajax({
                url: '/units/mgmt/start/' + p,
                type: 'POST',
                data: JSON.stringify(p),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    location.reload(true);
                    return false;
                }
            });
        });

        $('a.unit-stop').click(function () {
            var p = $(this).attr('data-unit');
            jQuery.support.cors = true;
            $.ajax({
                url: '/units/mgmt/stop/' + p,
                type: 'POST',
                data: JSON.stringify(p),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    location.reload(true);
                    return false;
                }
            });
        });

        $('a.unit-enable').click(function () {
            var p = $(this).attr('data-unit');
            jQuery.support.cors = true;
            $.ajax({
                url: '/units/mgmt/enable/' + p,
                type: 'POST',
                data: JSON.stringify(p),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    location.reload(true);
                    return false;
                }
            });
        });

        $('a.unit-disable').click(function () {
            var p = $(this).attr('data-unit');
            jQuery.support.cors = true;
            $.ajax({
                url: '/units/mgmt/disable/' + p,
                type: 'POST',
                data: JSON.stringify(p),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    location.reload(true);
                    return false;
                }
            });
        });
        //oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
        $('.search-field').keyup(function () {
            var queryString = $(this).val();
            var table = $('.searchable');
            var tableBody = table.children('tbody');
            var row = tableBody.children('tr');
            row.each(function (index) {
                var thisRow = $(this);
                var queriedText = $(this).text();
                if (queriedText.indexOf(queryString) != -1) {
                    thisRow.show();
                }
                if (queriedText.indexOf(queryString) < 0) {
                    thisRow.hide();
                }
            });
        });
    </script>
}