@*
    ///-------------------------------------------------------------------------------------
    ///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
    ///     All rights reserved.
    ///
    ///     Redistribution and use in source and binary forms, with or without
    ///     modification, are permitted provided that the following conditions are met:
    ///         * Redistributions of source code must retain the above copyright
    ///           notice, this list of conditions and the following disclaimer.
    ///         * Redistributions in binary form must reproduce the above copyright
    ///           notice, this list of conditions and the following disclaimer in the
    ///           documentation and/or other materials provided with the distribution.
    ///         * Neither the name of the Anthilla S.r.l. nor the
    ///           names of its contributors may be used to endorse or promote products
    ///           derived from this software without specific prior written permission.
    ///
    ///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    ///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    ///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
    ///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    ///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    ///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
    ///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    ///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    ///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    ///
    ///     20141110
    ///-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{Layout = "_layout.cshtml";}

@section PageBar {
    <style type="text/css">
        #User-TB {
            border-bottom: 10px solid #A7BD39;
            height: 80px !important;
        }
    </style>
    <nav class="navigation-bar bg-transparent page-bar menu-bar">
        <nav class="navigation-bar-content">
            <div class="element upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay" style="padding-top: 11px;">
                <i class="icon-user on-left" style="line-height: 5px;"></i>
                User
            </div>
            <div class="element-divider"></div>

            <div class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="padding-top: 11px;">Manage</div>
            <div class="element-divider"></div>
        </nav>
    </nav>

}
@section MainContent {
    <legend>Create user</legend>
    <form action="/status/user" method="POST" enctype="multipart/form-data">
        <div class="grid">
            <div class="row">
                <div class="span10">
                    <label>User name</label>
                    <input name="Name" type="text" style="width: 90%; height: 30px;" />
                </div>
            </div>
            <div class="row">
                <div class="span10">
                    <input id="submit" class="bg-blue fg-white" type="submit" value="Submit">
                </div>
            </div>
        </div>
    </form>
    <input type="text" class="search-field" style="position: relative; margin-bottom: 15px; height: 30px; width: 100%; padding-left: 5px;" placeholder="Search">

    <table class="table searchable">
        <thead>
            <tr>
                <th class="text-left">username</th>
                <th class="text-left">password</th>
                <th class="text-left">lastchanged</th>
                <th class="text-left">max number of days</th>
                <th class="text-left">min number of days</th>
                <th class="text-left">warn</th>
                <th class="text-left">inactive</th>
                <th class="text-left">expire</th>
            </tr>
        </thead>
        <tbody id="SysctlBodyTable">
            @foreach (Antd.UserModel user in Model.ALL) {
                <tr>
                    <td style="text-align: center;">@user.username </td>
                    <td style="text-align: center;">@user.password </td>
                    <td style="text-align: center;">@user.lastchanged </td>
                    <td style="text-align: center;">@user.minimumnumberofdays </td>
                    <td style="text-align: center;">@user.maximumnumberofdays </td>
                    <td style="text-align: center;">@user.warn </td>
                    <td style="text-align: center;">@user.inactive </td>
                    <td style="text-align: center;">@user.expire </td>
                </tr>
            }
        </tbody>
    </table>

    <script type="text/javascript">
        $('.search-field').keyup(function () {
            var queryString = $(this).val();
            var table = $('.searchable');
            var tableBody = table.children('tbody');
            var row = tableBody.children('tr');
            row.each(function (index) {
                var thisRow = $(this);
                var queriedText = $(this).text();
                if (queriedText.indexOf(queryString) != -1) {
                    thisRow.show();
                }
                if (queriedText.indexOf(queryString) < 0) {
                    thisRow.hide();
                }
            });
        });
    </script>
}