@*
///-------------------------------------------------------------------------------------
///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
///     All rights reserved.
///
///     Redistribution and use in source and binary forms, with or without
///     modification, are permitted provided that the following conditions are met:
///         * Redistributions of source code must retain the above copyright
///           notice, this list of conditions and the following disclaimer.
///         * Redistributions in binary form must reproduce the above copyright
///           notice, this list of conditions and the following disclaimer in the
///           documentation and/or other materials provided with the distribution.
///         * Neither the name of the Anthilla S.r.l. nor the
///           names of its contributors may be used to endorse or promote products
///           derived from this software without specific prior written permission.
///
///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
///
///     20141110
///-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{Layout = "_layout.cshtml";}

@section PageBar {
    <style type="text/css">
        #System-TB {
            border-bottom: 10px solid #A7BD39;
            height: 80px !important;
        }
    </style>
    <nav class="navigation-bar bg-transparent page-bar menu-bar">
        <nav class="navigation-bar-content">
            <div class="element upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay" style="padding-top: 11px;"><i class="icon-home on-left" style="line-height: 5px;"></i>System: advanced</div>
            <div class="element-divider"></div>
            <a href="/system/general" class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="padding-top: 11px;"><i class="icon-home on-left" style="line-height: 5px;"></i>general</a>
            <div class="element-divider"></div>
            <a href="/system/certmanager" class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="padding-top: 11px;"><i class="icon-home on-left" style="line-height: 5px;"></i>cert manager</a>
            <a href="/system/routing" class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="padding-top: 11px;"><i class="icon-home on-left" style="line-height: 5px;"></i>routing</a>
            <div class="element-divider"></div>
            <a href="/system/usermanager" class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="padding-top: 11px;"><i class="icon-home on-left" style="line-height: 5px;"></i>usermanager</a>
            <div class="element-divider"></div>
            <a href="/system/wizard" class="element upcase fg-anthilla-green border-2-anthilla-green no-overlay" style="padding-top: 11px;"><i class="icon-home on-left" style="line-height: 5px;"></i>wizard</a>
            <div class="element-divider"></div>
        </nav>
    </nav>
}

@section MainContent {
    <div class="tab-control" data-role="tab-control">
        <ul class="tabs" id="GroupsTabs">
            <li class="active"><a href="#AdminAccess">Admin Access</a></li>
            <li><a href="#FirewallNAT">Firewall / NAT</a></li>
            <li><a href="#Networking">Networking</a></li>
            <li><a href="#Misc">Misc</a></li>
            <li><a href="#SystemTunables">System Tunables</a></li>
            <li><a href="#Notifications">Notifications</a></li>
        </ul>

        <div class="frames" id="GroupsFrames">
            <div class="frame" id="AdminAccess">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Web Configurator</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Protocol</label>
                            </td>
                            <td>
                                <input type="radio" name="WebConfiguratorProtocol" value="HTTP" />HTTP
                                <input type="radio" name="WebConfiguratorProtocol" value="HTTPS" />HTTPS
                            </td>
                            <td>
                                <p id="UpdateProtocol" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>TCP port</label>
                            </td>
                            <td>
                                <p>Current TCP port: @Model.TCPport</p>
                            </td>
                            <td>
                                <input id="NewTCPport" type="text" />
                                <p id="UpdateTCPport" class="button bg-anthilla-green" style="display: none;">Edit</p>
                            </td>
                            <td>
                                <p>
                                    Enter a custom port number for the webConfigurator above if you want to 
                                    override the default (80 for HTTP, 443 for HTTPS).
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Max Processes</label>
                            </td>
                            <td>
                                <p>Current Max Processes: @Model.MaxProcesses</p>
                            </td>
                            <td>
                                <input id="NewMaxProcesses" type="text" />
                                <p id="UpdateMaxProcesses" class="button bg-anthilla-green" style="display: none;">Edit</p>
                            </td>
                            <td>
                                <p>
                                    Enter the number of webConfigurator processes you want to run. 
                                    This defaults to 2. Increasing this will allow more users/browsers to access the GUI concurrently.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>WebGUI Redirect</label>
                            </td>
                            <td>
                                <input id="NewWebGUIRedirects" type="checkbox" />Disable webConfigurator redirect rule 
                                <p id="UpdateWebGUIRedirects" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    When this is unchecked, access to the webConfigurator is always permitted even on port 80, 
                                    regardless of the listening port configured. 
                                    Check this box to disable this automatically added redirect rule. 
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>WebGUI Login Autocomplete</label>
                            </td>
                            <td>
                                <input id="NewWebGUILoginAutocomplete" type="checkbox" />Enable webConfigurator login autocomplete 
                                <p id="UpdateWebGUILoginAutocomplete" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    When this is checked, login credentials for the webConfigurator may be saved by the browser. 
                                    While convenient, some security standards require this to be disabled. 
                                    Check this box to enable autocomplete on the login form so that browsers will prompt to save credentials 
                                    (NOTE: Some browsers do not respect this option). 
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>WebGUI login messages</label>
                            </td>
                            <td>
                                <input id="NewWebGUIloginmessages" type="checkbox" />Disable logging of webConfigurator successful logins 
                                <p id="UpdateWebGUIloginmessages" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    When this is checked, successful logins to the webConfigurator will not be logged.  
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Anti-lockout</label>
                            </td>
                            <td>
                                <input id="NewAntiLockout" type="checkbox" />Disable webConfigurator anti-lockout rule  
                                <p id="UpdateAntiLockout" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    When this is unchecked, access to the webConfigurator on the LAN interface is always permitted, 
                                    regardless of the user-defined firewall rule set. Check this box to disable this automatically 
                                    added rule, so access to the webConfigurator is controlled by the user-defined firewall rules 
                                    (ensure you have a firewall rule in place that allows you in, or you will lock yourself out!) 
                                    Hint: the "Set interface(s) IP address" option in the console menu resets this setting as well.  
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>DNS Rebind Check</label></td>
                            <td>
                                <input id="NewDNSRebindCheck" type="checkbox" />Disable DNS Rebinding Checks   
                                <p id="UpdateDNSRebindCheck" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    When this is unchecked, your system is protected against DNS Rebinding attacks. 
                                    This blocks private IP responses from your configured DNS servers. 
                                    Check this box to disable this protection if it interferes with webConfigurator access 
                                    or name resolution in your environment.   
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Alternate Hostnames</label>
                            </td>
                            <td>
                                <p>Current Alternate Hostnames: @Model.AlternateHostnames</p>
                            </td>
                            <td>
                                <input id="NewAlternateHostnames" type="text" />Alternate Hostnames for DNS Rebinding and HTTP_REFERER Checks    
                                <p id="UpdateAlternateHostnames" class="button bg-anthilla-green" style="display: none;">Edit</p>
                            </td>
                            <td>
                                <p>
                                    Here you can specify alternate hostnames by which the router may be queried, 
                                    to bypass the DNS Rebinding Attack checks. Separate hostnames with spaces. 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Browser HTTP_REFERER enforcement</label>
                            </td>
                            <td>
                                <input id="NewHTTP_REFERERenforcement" type="checkbox" />Disable HTTP_REFERER enforcement check    
                                <p id="UpdateHTTP_REFERERenforcement" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    When this is unchecked, access to the webConfigurator is protected against HTTP_REFERER
                                    redirection attempts. Check this box to disable this protection if you find that it interferes
                                    with webConfigurator access in certain corner cases such as using external scripts to interact 
                                    with this system. More information on HTTP_REFERER is available from Wikipedia.   
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Browser tab text</label>
                            </td>
                            <td>
                                <input id="NewTabText" type="checkbox" />Display page name first in browser tab     
                                <p id="UpdateTabText" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    When this is unchecked, the browser tab shows the host name followed by 
                                    the current page. Check this box to display the current page followed by the host name.   
                                </p>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Secure Shell</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Secure Shell Server</label>
                            </td>
                            <td>
                                <input id="NewEnableSecureShell" type="checkbox" />Enable Secure Shell  
                                <p id="UpdateEnableSecureShell" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Authentication Method</label>
                            </td>
                            <td>
                                <input id="NewAuthenticationMethod" type="checkbox" />Disable password login for Secure Shell (RSA/DSA key only)    
                                <p id="UpdateAuthenticationMethod" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    When enabled, authorized keys need to be configured for each user that has been granted secure shell access.
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>SSH port</label>
                            </td>
                            <td>
                                <p>Current SSH port: @Model.SSHPort</p>
                            </td>
                            <td>
                                <input id="NewSSHport" type="text" />
                                <p id="UpdateSSHport" class="button bg-anthilla-green" style="display: none;">Edit</p>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Serial Communications</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Serial Terminal</label>
                            </td>
                            <td>
                                <input id="NewSerialTerminal" type="checkbox" />
                                Enables the first serial port with 115200/8/N/1 by default, or another speed selectable below.   
                                <p id="UpdateSerialTerminal" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    Note: This will redirect the console output and messages to the serial port. 
                                You can still access the console menu from the internal video card/keyboard. 
                                A null modem serial cable or adapter is required to use the serial console.
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Serial Speed</label>
                            </td>
                            <td>
                                <select id="NewSerialSpeed">
                                    <option value="115200">115200</option>
                                    <option value="57600">57600</option>
                                    <option value="38400">38400</option>
                                    <option value="19200">19200</option>
                                    <option value="14400">14400</option>
                                    <option value="9600">9600</option>
                                </select>
                                bps 
                                <p id="UpdateSerialSpeed" class="button bg-anthilla-green" style="display: none;">Edit</p>
                            </td>
                            <td>
                                <p>
                                    Allows selection of different speeds for the serial console port. 
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Primary Console</label>
                            </td>
                            <td>
                                <select id="NewPrimaryConsole">
                                    <option value="serial">Serial Console</option>
                                    <option value="video">VGA Console</option>
                                </select>
                                <p id="UpdatePrimaryConsole" class="button bg-anthilla-green" style="display: none;">Edit</p>
                            </td>
                            <td>
                                <p>
                                    Select the preferred console if multiple consoles are present. 
                                    The preferred console will show pfSense boot script output. All consoles display OS boot messages, 
                                    console messages, and the console menu
                                </p>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Console Options</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Console menu</label>
                            </td>
                            <td>
                                <input type="checkbox" />Password protect the console menu   
                                <p id="UpdateConsoleMenu" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <p id="SaveSystemGeneral" class="button wide-button bg-anthilla-green upcase" style="color: #3A3A3A !important;">Save all changes</p>
            </div>

            <div class="frame" id="FirewallNAT">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Firewall Advanced</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>IP Do-Not-Fragment compatibility</label>
                            </td>
                            <td>
                                <input id="NewIPDo-Not-Fragment" type="checkbox" />Clear invalid DF bits instead of dropping the packets
                                <p id="UpdateIPDo-Not-Fragment" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    This allows for communications with hosts that generate fragmented packets with the don't fragment (DF) bit set.
                                    Linux NFS is known to do this. This will cause the filter to not drop such packets but 
                                    instead clear the don't fragment bit.
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>IP Random id generation</label>
                            </td>
                            <td>
                                <input id="NewIPRandomID" type="checkbox" />Insert a stronger id into IP header of packets passing through the filter
                                <p id="UpdateIPRandomID" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    Replaces the IP identification field of packets with random values to compensate for 
                                    operating systems that use predictable values. This option only applies to packets that are not
                                    fragmented after the optional packet reassembly. 
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Firewall Optimization Options</label>
                            </td>
                            <td>
                                <select id="FirewallOptimizationOptionsSelect">
                                    <option selected="selected" value="normal">normal</option>
                                    <option value="high-latency">high-latency</option>
                                    <option value="aggressive">aggressive</option>
                                    <option value="conservative">conservative</option>
                                </select>
                                <p id="UpdateFirewallOptimizationOptions" class="button bg-anthilla-green" style="display: none;">
                                    Firewall Optimization Options
                                </p>
                            </td>
                            <td>
                                <p id="FirewallOptimizationOptionsDescription"></p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Disable Firewall</label>
                            </td>
                            <td>
                                <input id="NewDisableFirewallFilter" type="checkbox" />Disable all packet filtering
                                <p id="UpdateDisableFirewallFilter" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    Note: This converts antd into a routing only platform! 
                                    Note: This will also turn off NAT!  
                                    If you only want to disable NAT, and not firewall rules, visit the Outbound NAT page.  
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Disable Firewall Scrub</label>
                            </td>
                            <td>
                                <input id="NewDisableFirewallScrub" type="checkbox" />
                                Disables the PF scrubbing option which can sometimes interfere with NFS and PPTP traffic. 
                                <p id="UpdateDisableFirewallScrub" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Firewall Adaptive Timeouts</label>
                            </td>
                            <td>
                                <p>
                                    Timeouts for states can be scaled adaptively as the number of state table entries grows.
                                </p>
                                <input id="NewUpdateFirewallAdaptiveTimeoutsEnd" type="text" />
                                <p>
                                    When the number of state entries exceeds this value, adaptive scaling begins. 
                                    All timeout values are scaled linearly with factor 
                                    (adaptive.end - number of states) / (adaptive.end - adaptive.start).   
                                </p>
                                <input id="NewUpdateFirewallAdaptiveTimeoutsStart" type="text" />
                                <p>
                                    When reaching this number of state entries, all timeout values become zero, effectively purging
                                    all state entries immediately. This value is used to define the scale factor, 
                                    it should not actually be reached (set a lower state limit, see below).
                                    Note: Leave this blank for the default, which auto-calculates these values from your maximum 
                                    state table size. Adaptive start is 60% and end is 120% of the state table size by default.   
                                </p>
                                <p id="UpdateFirewallAdaptiveTimeouts" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Firewall Maximum States</label>
                            </td>
                            <td>
                                <p>Current Firewall Maximum States: @Model.FirewallMaximumStates</p>
                            </td>
                            <td>
                                <input id="NewFirewallMaximumStates" type="text" />
                                <p id="UpdateFirewallMaximumStates" class="button bg-anthilla-green" style="display: none;">Edit</p>
                            </td>
                            <td>
                                <p>
                                    Maximum number of connections to hold in the firewall state table   
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Firewall Maximum Table Entries</label>
                            </td>
                            <td>
                                <p>Current Firewall Maximum States: @Model.FirewallMaximumTableEntries</p>
                            </td>
                            <td>
                                <input id="NewFirewallMaximumTableEntries" type="text" />
                                <p id="UpdateFirewallMaximumTableEntries" class="button bg-anthilla-green" style="display: none;">Edit</p>
                            </td>
                            <td>
                                <p>
                                    Maximum number of table entries for systems such as aliases, sshlockout, snort, etc, combined   
                                </p>
                                <p>
                                    Note: Leave this blank for the default. On your system the default size is: 200000 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Static route filtering</label>
                            </td>
                            <td>
                                <input id="NewStaticRouteFiltering" type="checkbox" />Bypass firewall rules for traffic on the same interface 
                                <p id="UpdateStaticRouteFiltering" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    This option only applies if you have defined one or more static routes.
                                    If it is enabled, traffic that enters and leaves through the same interface 
                                    will not be checked by the firewall. This may be desirable in some situations where multiple
                                    subnets are connected to the same interface.   
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Disable Auto-added VPN rules</label>
                            </td>
                            <td>
                                <input id="NewDisableAutoVPN" type="checkbox" />Disable all auto-added VPN rules 
                                <p id="UpdateDisableAutoVPN" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    Note: This disables automatically added rules for IPsec, PPTP.
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Disable reply-to</label>
                            </td>
                            <td>
                                <input id="NewDisableReplyto" type="checkbox" />Disable reply-to on WAN rules  
                                <p id="UpdateDisableReplyto" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    With Multi-WAN you generally want to ensure traffic leaves the same interface it arrives on, 
                                    hence reply-to is added automatically by default. When using bridging, you must disable this 
                                    behavior if the WAN gateway IP is different from the gateway IP of the hosts behind the bridged interface. 
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Disable Negate rules</label>
                            </td>
                            <td>
                                <input id="NewDisableNegateRules" type="checkbox" />Disable Negate rule on policy routing rules   
                                <p id="UpdateDisableNegateRules" class="button bg-anthilla-green">Edit</p>
                            </td>
                            <td>
                                <p>
                                    With Multi-WAN you generally want to ensure traffic reaches directly connected networks and VPN 
                                    networks when using policy routing. You can disable this for special purposes but it requires manually 
                                    creating rules for these networks 
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Aliases Hostnames Resolve Interval</label>
                            </td>
                            <td>
                                <p>Current time server: @Model.AliasesHostnamesResolveInterval</p>
                            </td>
                            <td>
                                <input id="NewAliasesHostnamesResolveInterval" type="text" />
                                Interval, in seconds, that will be used to resolve hostnames configured on aliases   
                                <p id="UpdateAliasesHostnamesResolveInterval" class="button bg-anthilla-green" style="display: none;">Edit</p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Check certificate of aliases URLs</label>
                            </td>
                            <td>
                                <input id="NewCheckCertificateAliasUrl" type="checkbox" />Verify HTTPS certificates when downloading alias URLs    
                                <p id="UpdateCheckCertificateAliasUrl" class="button bg-anthilla-green" style="display: none;">Edit</p>
                            </td>
                            <td>
                                <p>
                                    Make sure the certificate is valid for all HTTPS addresses on aliases. 
                                    If it's not valid or is revoked, do not download it. 
                                </p>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                @*bookmark
             ______   _______  _______  _        _______  _______  _______  _       
            (  ___ \ (  ___  )(  ___  )| \    /\(       )(  ___  )(  ____ )| \    /\
            | (   ) )| (   ) || (   ) ||  \  / /| () () || (   ) || (    )||  \  / /
            | (__/ / | |   | || |   | ||  (_/ / | || || || (___) || (____)||  (_/ / 
            |  __ (  | |   | || |   | ||   _ (  | |(_)| ||  ___  ||     __)|   _ (  
            | (  \ \ | |   | || |   | ||  ( \ \ | |   | || (   ) || (\ (   |  ( \ \ 
            | )___) )| (___) || (___) ||  /  \ \| )   ( || )   ( || ) \ \__|  /  \ \
            |/ \___/ (_______)(_______)|_/    \/|/     \||/     \||/   \__/|_/    \/
                                                                        	
                            *@

                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Bogon Networks</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Update Frequency</label>
                            </td>
                            <td>
                                <select id="NewUpdateFrequency">
                                    <option selected="selected" value="monthly">Monthly</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="daily">Daily</option>
                                </select>
                                <p id="UpdateUpdateFrequency" class="button bg-anthilla-green" style="display: none;">Edit</p>
                            </td>
                            <td>
                                <p>
                                    The frequency of updating the lists of IP addresses that are reserved (but not RFC 1918) or not yet assigned by IANA
                                </p>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Network Address Translation</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>NAT Reflection mode for port forwards</label>
                            </td>
                            <td>
                                <select id="NewNATReflection">
                                    <option selected="selected" value="disable">Disable</option>
                                    <option value="proxy">Enable (NAT + Proxy)</option>
                                    <option value="purenat">Enable (Pure NAT)</option>
                                </select>
                                When enabled, this automatically creates additional NAT redirect rules for access to port forwards on your external IP addresses from within your internal networks. 
                                <p id="UpdateNATReflection" class="button bg-anthilla-green" style="display: none;">Edit</p>
                            </td>
                            <td>
                                <p>
                                    The NAT + proxy mode uses a helper program to send packets to the target of the port forward. 
                                    It is useful in setups where the interface and/or gateway IP used for communication with the target
                                     cannot be accurately determined at the time the rules are loaded. Reflection rules are not created for 
                                    ranges larger than 500 ports and will not be used for more than 1000 ports total between all port forwards. 
                                    Only TCP and UDP protocols are supported.
                                </p>
                                <p>
                                    The pure NAT mode uses a set of NAT rules to direct packets to the target of the port forward. 
                                    It has better scalability, but it must be possible to accurately determine the interface and gateway 
                                    IP used for communication with the target at the time the rules are loaded. There are no inherent limits 
                                    to the number of ports other than the limits of the protocols. All protocols available for port forwards 
                                    are supported. 
                                </p>
                                <p>
                                    Individual rules may be configured to override this system setting on a per-rule basis.
                                </p>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>NAT Reflection Timeout</label></td>
                            <td>
                                <input type="text" />
                                Enter value for Reflection timeout in seconds
                                <p>
                                    Note: Only applies to Reflection on port forwards in NAT + proxy mode
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Enable NAT Reflection for 1:1 NAT</label></td>
                            <td>
                                <input type="checkbox" />
                                Enables the automatic creation of additional NAT redirect rules for access to 1:1 
                                mappings of your external IP addresses from within your internal networks
                                <p>
                                    Note: Reflection on 1:1 mappings is only for the inbound component of the 1:1 mappings. 
                                    This functions the same as the pure NAT mode for port forwards. For more details, 
                                    refer to the pure NAT mode description above. 
                                </p>
                                <p>
                                    Individual rules may be configured to override this system setting on a per-rule basis
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Enable automatic outbound NAT for Reflection</label></td>
                            <td>
                                <input type="checkbox" />
                                Automatically create outbound NAT rules which assist inbound NAT rules that direct 
                                traffic back out to the same subnet it originated from. 
                                <p>
                                    Required for full functionality of the pure NAT mode of NAT Reflection for port forwards or NAT Reflection for 1:1 NAT. 
                                </p>
                                <p>
                                    Note: This only works for assigned interfaces. Other interfaces require manually creating 
                                    the outbound NAT rules that direct the reply packets back through the router. 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>TFTP Proxy</label></td>
                            <td>
                                <select multiple="multiple">
                                    <option value="wan">WAN</option>
                                    <option value="lan">LAN</option>
                                </select>
                                Choose the interfaces where you want TFTP proxy helper to be enabled
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>State Timeouts</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>TCP Timeouts</label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>UDP Timeouts</label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>ICMP Timeouts</label></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Other Timeouts</label></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <p class="button bg-anthilla-green">Save</p>
            </div>

            @*bookmark
                                ______   _______  _______  _        _______  _______  _______  _       
                            (  ___ \ (  ___  )(  ___  )| \    /\(       )(  ___  )(  ____ )| \    /\
                            | (   ) )| (   ) || (   ) ||  \  / /| () () || (   ) || (    )||  \  / /
                            | (__/ / | |   | || |   | ||  (_/ / | || || || (___) || (____)||  (_/ / 
                            |  __ (  | |   | || |   | ||   _ (  | |(_)| ||  ___  ||     __)|   _ (  
                            | (  \ \ | |   | || |   | ||  ( \ \ | |   | || (   ) || (\ (   |  ( \ \ 
                            | )___) )| (___) || (___) ||  /  \ \| )   ( || )   ( || ) \ \__|  /  \ \
                            |/ \___/ (_______)(_______)|_/    \/|/     \||/     \||/   \__/|_/    \/
                                                                        
                                            *@

            <div class="frame" id="Networking">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>IPv6 Options</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Allow IPv6</label></td>
                            <td>
                                <input type="checkbox" />
                                Allow IPv6
                                <p>
                                    All IPv6 traffic will be blocked by the firewall unless this box is checked.
                                    NOTE: This does not disable any IPv6 features on the firewall, it only blocks traffic
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>IPv6 over IPv4 Tunneling</label></td>
                            <td>
                                <input type="checkbox" />
                                Enable IPv4 NAT encapsulation of IPv6 packets
                                <p>
                                    This provides an RFC 2893 compatibility mechanism that can be used to tunneling 
                                    IPv6 packets over IPv4 routing infrastructures. If enabled, don't forget to add a firewall 
                                    rule to permit IPv6 packets
                                </p>
                                <br />
                                IP Address:
                                <input type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Prefer IPv4 over IPv6</label></td>
                            <td>
                                <input type="checkbox" />
                                Prefer to use IPv4 even if IPv6 is available
                                <p>
                                    By default, if a hostname resolves IPv6 and IPv4 addresses IPv6 will be used, 
                                    if you check this option, IPv4 will be used instead of IPv6.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Network Interfaces</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Device polling</label></td>
                            <td>
                                <input type="checkbox" />
                                Enable device polling
                                <p>
                                    Device polling is a technique that lets the system periodically poll network devices for 
                                    new data instead of relying on interrupts. This prevents your webConfigurator, SSH, etc. 
                                    from being inaccessible due to interrupt floods when under extreme load. Generally this is 
                                    not recommended. Not all NICs support polling; see the pfSense homepage for a list of supported cards. 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Hardware Checksum Offloading</label></td>
                            <td>
                                <input type="checkbox" />
                                Disable hardware checksum offload
                                <p>
                                    Checking this option will disable hardware checksum offloading. Checksum offloading is
                                     broken in some hardware, particularly some Realtek cards. Rarely, drivers may have problems
                                     with checksum offloading and some specific NICs.
                                </p>
                                <p>
                                    Note: This will take effect after you reboot the machine or re-configure each interface.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Hardware TCP Segmentation Offloading</label></td>
                            <td>
                                <input type="checkbox" />
                                Disable hardware TCP segmentation offload
                                <p>
                                    Checking this option will disable hardware TCP segmentation offloading (TSO, TSO4, TSO6). 
                                    This offloading is broken in some hardware drivers, and may impact performance with some specific NICs. 
                                </p>
                                <p>
                                    Note: This will take effect after you reboot the machine or re-configure each interface.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Hardware Large Receive Offloading</label></td>
                            <td>
                                <input type="checkbox" />
                                Disable hardware large receive offload
                                <p>
                                    Checking this option will disable hardware large receive offloading (LRO). 
                                    This offloading is broken in some hardware drivers, and may impact performance with some specific NICs.  
                                </p>
                                <p>
                                    Note: This will take effect after you reboot the machine or re-configure each interface.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>ARP Handling</label></td>
                            <td>
                                <input type="checkbox" />
                                Suppress ARP messages
                                <p>
                                    This option will suppress ARP log messages when multiple interfaces reside on the same broadcast domain  
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <p class="button bg-anthilla-green">Save</p>
            </div>

            <div class="frame" id="Misc">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Proxy support</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Proxy URL</label></td>
                            <td>
                                <input type="text" />
                                <p>
                                    Hostname or IP address of proxy server this system will use for its outbound Internet access
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Proxy Port</label></td>
                            <td>
                                <input type="text" />
                                <p>
                                    Port where proxy server is listening
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Proxy username</label></td>
                            <td>
                                <input type="text" />
                                <p>
                                    Username for authentication to proxy server. Optional, leave blank to not use authentication
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Proxy password</label></td>
                            <td>
                                <input type="password" />
                                <p>
                                    Password for authentication to proxy server
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Load Balancing</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Load Balancing</label></td>
                            <td>
                                <input type="checkbox" />
                                Use sticky connections
                                <p>
                                    Successive connections will be redirected to the servers in a round-robin manner with connections 
                                    from the same source being sent to the same web server. This 'sticky connection' will exist as 
                                    long as there are states that refer to this connection. Once the states expire, so will the sticky 
                                    connection. Further connections from that host will be redirected to the next web server in the round robin. 
                                    Changing this option will restart the Load Balancing service. 
                                </p>
                                <input type="text" />
                                <p>
                                    Set the source tracking timeout for sticky connections. By default this is 0, so source tracking 
                                    is removed as soon as the state expires. Setting this timeout higher will cause the source/destination 
                                    relationship to persist for longer periods of time.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Load Balancing</label></td>
                            <td>
                                <input type="checkbox" />
                                Enable default gateway switching
                                <p>
                                    If the default gateway goes down, switch the default gateway to another available one. 
                                    This is not enabled by default, as it's unnecessary in most all scenarios, which instead use gateway groups 
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Power savings</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>PowerD</label></td>
                            <td>
                                <input type="checkbox" />
                                Use PowerD
                                <br />
                                On AC Power Mode
                                <select>
                                    <option selected="selected" value="hadp">Hiadaptive</option>
                                    <option value="adp">Adaptive</option>
                                    <option value="min">Minimum</option>
                                    <option value="max">Maximum</option>
                                </select>
                                <br />
                                On Battery Power Mode
                                <select>
                                    <option selected="selected" value="hadp">Hiadaptive</option>
                                    <option value="adp">Adaptive</option>
                                    <option value="min">Minimum</option>
                                    <option value="max">Maximum</option>
                                </select>
                                <br />
                                On Unknown Power Mode
                                <select>
                                    <option selected="selected" value="hadp">Hiadaptive</option>
                                    <option value="adp">Adaptive</option>
                                    <option value="min">Minimum</option>
                                    <option value="max">Maximum</option>
                                </select>
                                <br />
                                <p>
                                    The powerd utility monitors the system state and sets various power control options accordingly. 
                                    It offers four modes (maximum, minimum, adaptive and hiadaptive) that can be individually selected while on 
                                    AC power or batteries. The modes maximum, minimum, adaptive and hiadaptive may be abbreviated max, min, adp, hadp. 
                                    Maximum mode chooses the highest performance values. Minimum mode selects the lowest performance values 
                                    to get the most power savings. Adaptive mode attempts to strike a balance by degrading performance when 
                                    the system appears idle and increasing it when the system is busy. 
                                    It offers a good balance between a small performance loss for greatly increased power savings. 
                                    Hiadaptive mode is alike adaptive mode, but tuned for systems where performance and interactivity are more 
                                    important than power consumption. It raises frequency faster, drops slower and keeps twice lower CPU load. 
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Cryptographic Hardware Acceleration</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Cryptographic Hardware</label></td>
                            <td>
                                <select>
                                    <option value="">None</option>
                                    <option value="glxsb">AMD Geode LX Security Block (glxsb)</option>
                                    <option value="aesni">AES-NI CPU-based Acceleration (aesni)</option>
                                </select>
                                <p>
                                    A cryptographic accelerator module will use hardware support to speed up some cryptographic 
                                    functions on systems which have the chip. Do not enable this option if you have a Hifn 
                                    cryptographic acceleration card, as this will take precedence and the Hifn card will not be used. 
                                    Acceleration should be automatic for IPsec when using a cipher supported by your chip, such as AES-128. 
                                    OpenVPN should be set for AES-128-CBC and have cryptodev enabled for hardware acceleration
                                </p>
                                <p>
                                    If you do not have a crypto chip in your system, this option will have no effect. 
                                    To unload the selected module, set this option to 'none' and then reboot
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Thermal Sensors</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Thermal Sensors</label></td>
                            <td>
                                <select>
                                    <option value="">None/ACPI</option>
                                    <option value="coretemp">Intel Core* CPU on-die thermal sensor (coretemp)</option>
                                    <option value="amdtemp">AMD K8, K10 and K11 CPU on-die thermal sensor (amdtemp)</option>
                                </select>
                                <p>
                                    If you have a supported CPU, selecting a themal sensor will load the appropriate driver to 
                                    read its temperature. Setting this to 'None' will attempt to read the temperature from an 
                                    ACPI-compliant motherboard sensor instead, if one is present.
                                </p>
                                <p>
                                    If you do not have a supported thermal sensor chip in your system, this option will have no effect. 
                                    To unload the selected module, set this option to 'none' and then reboot. 
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Schedules</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Schedule States</label></td>
                            <td>
                                <input type="checkbox" />
                                <p>
                                    By default, when a schedule expires, connections permitted by that schedule are killed. 
                                    This option overrides that behavior by not clearing states for existing connections. 
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Gateway Monitoring</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>State Killing on Gateway Failure</label></td>
                            <td>
                                <input type="checkbox" />
                                <p>
                                    The monitoring process will flush states for a gateway that goes down if this box is not checked. 
                                    Check this box to disable this behavior. 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Skip rules when gateway is down</label></td>
                            <td>
                                <input type="checkbox" />
                                <p>
                                    By default, when a rule has a gateway specified and this gateway is down, the rule is created 
                                    omitting the gateway. This option overrides that behavior by omitting the entire rule instead. 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Enable gateway monitoring debug logging</label></td>
                            <td>
                                <input type="checkbox" />
                                <p>
                                    Enable this setting to log debug information from the gateway monitoring process to the system logs.  
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>RAM Disk Settings (Reboot to Apply Changes)</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Use RAM Disks</label></td>
                            <td>
                                <input type="checkbox" />
                                Use memory file system for /tmp and /var
                                <p>
                                    Set this if you wish to use /tmp and /var as RAM disks (memory file system disks) on a full 
                                    install rather than use the hard disk. Setting this will cause the data in /tmp and /var to be 
                                    lost at reboot, including log data. RRD and DHCP Leases will be retained.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>/tmp RAM Disk Size</label></td>
                            <td>
                                <input type="text" />
                                MB
                                <p>
                                    Set the size, in MB, for the /tmp RAM disk. Leave blank for 40MB. Do not set lower than 40. 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>/var RAM Disk Size</label></td>
                            <td>
                                <input type="text" />
                                MB
                                <p>
                                    Set the size, in MB, for the /var RAM disk. Leave blank for 60MB. Do not set lower than 60. 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Periodic RRD Backup</label></td>
                            <td>Frequency
                                <select disabled="disabled">
                                    <option selected="selected" value="0">Disable</option>
                                    <option value="1">1 hour</option>
                                    <option value="2">2 hours</option>
                                </select>
                                <p>
                                    This will periodically backup the RRD data so it can be restored automatically on the next boot. 
                                    Keep in mind that the more frequent the backup, the more writes will happen to your media. 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Periodic DHCP Leases Backup</label></td>
                            <td>Frequency
                                <select disabled="disabled">
                                    <option selected="selected" value="0">Disable</option>
                                    <option value="1">1 hour</option>
                                    <option value="2">2 hours</option>
                                </select>
                                <p>
                                    This will periodically backup the DHCP leases data so it can be restored automatically on the next boot. 
                                    Keep in mind that the more frequent the backup, the more writes will happen to your media. 
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <p class="button bg-anthilla-green">Save</p>
            </div>

            <div class="frame" id="SystemTunables">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th>
                                <label>Tunable Name</label></th>
                            <th>
                                <label>Description</label></th>
                            <th>
                                <label>Value</label></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <hr />
                <p class="button bg-anthilla-green">Save</p>
            </div>

            <div class="frame" id="Notifications">
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>Growl</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Disable Growl Notifications</label></td>
                            <td>
                                <input type="checkbox" />
                                <p>
                                    Check this option to disable growl notifications but preserve the settings below
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Registration Name</label></td>
                            <td>
                                <input type="text" />
                                <p>
                                    Enter the name to register with the Growl server (default: PHP-Growl)
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Notification Name</label></td>
                            <td>
                                <input type="text" />
                                <p>
                                    Enter a name for the Growl notifications (default: pfSense growl alert)
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>IP Address</label></td>
                            <td>
                                <input type="text" />
                                <p>
                                    This is the IP address that you would like to send growl notifications to. 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Password</label></td>
                            <td>
                                <input type="password" />
                                <p>
                                    Enter the password of the remote growl notification device. 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p class="button bg-anthilla-green">Test</p>
                                <p>
                                    NOTE: A test notification will be sent even if the service is marked as disabled
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table hovered">
                    <thead>
                        <tr>
                            <th colspan="4" style="text-align: left;" class="bg-anthilla-gray-m upcase">
                                <legend>SMTP E-Mail</legend>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label>Disable SMTP Notifications</label></td>
                            <td>
                                <input type="checkbox" />
                                <p>
                                    Check this option to disable SMTP notifications but preserve the settings below. 
                                    Some other mechanisms, such as packages, may need these settings in place to function.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>E-Mail server</label></td>
                            <td>
                                <input type="text" />
                                <p>
                                    This is the FQDN or IP address of the SMTP E-Mail server to which notifications will be sent
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>SMTP Port of E-Mail server</label></td>
                            <td>
                                <input type="text" />
                                <p>
                                    This is the port of the SMTP E-Mail server, typically 25, 587 (submission) or 465 (smtps) 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Secure SMTP Connection</label></td>
                            <td>
                                <input type="checkbox" />Enable SMTP over SSL/TLS
                                <br />
                                <input type="checkbox" />Enable STARTTLS
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>From e-mail address</label></td>
                            <td>
                                <input type="text" />
                                <p>
                                    This is the e-mail address that will appear in the from field 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Notification E-Mail address</label></td>
                            <td>
                                <input type="text" />
                                <p>
                                    Enter the e-mail address that you would like email notifications sent to 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Notification E-Mail auth username (optional)</label></td>
                            <td>
                                <input type="text" />
                                <p>
                                    Enter the e-mail address username for SMTP authentication 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Notification E-Mail auth password</label></td>
                            <td>
                                <input type="password" />
                                <p>
                                    Enter the e-mail address password for SMTP authentication 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Notification E-Mail auth mechanism</label></td>
                            <td>
                                <select>
                                    <option selected="selected" value="PLAIN">PLAIN</option>
                                    <option value="LOGIN">LOGIN</option>
                                </select>
                                <p>
                                    Select the authentication mechanism used by the SMTP server. 
                                    Most work with PLAIN, some servers like Exchange or Office365 might require LOGIN 
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p class="button bg-anthilla-green">Test SMTP</p>
                                <p>
                                    NOTE: A test message will be sent even if the service is marked as disabled. 
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <p class="button bg-anthilla-green">Save</p>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('tr>td').not('tr>td:first-child').css('width', '25%');
            $('tr>td:first-child').css('width', '200px');
        });

        $('#FirewallOptimizationOptionsSelect').change(function () {
            var thisVal = $(this).find(':selected').val();
            var r = $('#FirewallOptimizationOptionsDescription');
            if (thisVal == 'normal') {
                r.text('as the name says, it\'s the normal optimization algorithm');
            }
            if (thisVal == 'high-latency') {
                r.text('used for high latency links, such as satellite links.  Expires idle connections later than default');
            }
            if (thisVal == 'aggressive') {
                r.text('expires idle connections quicker. More efficient use of CPU and memory but can drop legitimate idle connections');
            }
            if (thisVal == 'conservative') {
                r.text('tries to avoid dropping any legitimate idle connections at the expense of increased memory usage and CPU utilization.');
            }
        });
    </script>
}