<legend id="Database">Database</legend>
<table class="table hovered">
    <tbody>
        <tr>
            <td style="width: 200px !important;">
                <label>Database Version</label>
            </td>
            <td>
                <p>@Model.DatabaseVersion</p>
            </td>
        </tr>
        <tr>
            <td>
                <label>Database Name</label>
            </td>
            <td>
                <p>@Model.DatabaseName</p>
            </td>
        </tr>
        <tr>
            <td>
                <label>Database Path</label>
            </td>
            <td>
                <p>@Model.DatabasePath</p>
            </td>
        </tr>
        <tr>
            <td>
                <label>Database Jnl Path</label>
            </td>
            <td>
                <p>@Model.DatabaseJnlPath</p>
            </td>
        </tr>
        <tr>
            <td>
                <label>Database Raid Paths</label>
            </td>
            <td>
                <p>@Model.DatabaseRaidPaths</p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input type="text" id="DatabaseRaid"/>
                <input type="button" id="AddRaidPath" class="bg-indigo" value="Submit"/>
            </td>
        </tr>
    </tbody>
</table>
