<legend id="Disks">Disks</legend>
<table class="table">
    <tbody>
        @foreach (Antd.Storage.Volumes.Block blk in Antd.Storage.Volumes.Blkid()) { 
            <tr>
                <td class="right">@blk.Name</td>
                <td class="right">@blk.Attributes</td>
            </tr>
        }
    </tbody>
</table>
<div class="tab-control" data-role="tab-control">

    <ul class="tabs">
        <li class="active"><a href="#ByID">Disk By ID</a></li>
        <li><a href="#ByLabel">Disk By Label</a></li>
        <li><a href="#ByPartLabel">Disk By PartLabel</a></li>
        <li><a href="#ByPartUuid">Disk By PartUuid</a></li>
        <li><a href="#ByUuid">Disk By Uuid</a></li>
    </ul>

    <div class="frames">
        <div class="frame" id="ByID">
            <ul class="fg-white">
                @foreach (string d in Antd.Storage.Disks.GET.ByID()) {
                    <li>@d</li>
                }
            </ul>
        </div>

        <div class="frame" id="ByLabel">
            <ul class="fg-white">
                @foreach (string d in Antd.Storage.Disks.GET.ByLabel()) {
                    <li>@d</li>
                }
            </ul>
        </div>

        <div class="frame" id="ByPartLabel">
            <ul class="fg-white">
                @foreach (string d in Antd.Storage.Disks.GET.ByPartLabel()) {
                    <li>@d</li>
                }
            </ul>
        </div>

        <div class="frame" id="ByPartUuid">
            <ul class="fg-white">
                @foreach (string d in Antd.Storage.Disks.GET.ByPartUuid()) {
                    <li>@d</li>
                }
            </ul>
        </div>

        <div class="frame" id="ByUuid">
            <ul class="fg-white">
                @foreach (string d in Antd.Storage.Disks.GET.ByUuid()) {
                    <li>@d</li>
                }
            </ul>
        </div>
    </div>
</div>
