@using antdlib.Contexts
<legend id="Procs">Procs</legend>
@if (Model.PROCS != null) {
    <table id="Output" class="table">
        <tbody>
            @foreach (ProcModel proc in Model.PROCS) {
                <tr>
                    <td class="right"><a class="kill-this" data-pid="@proc.Pid"><i class="icon-cancel fg-red"></i></a></td>
                    <td class="right">@proc.Uid</td>
                    <td class="right">@proc.Pid</td>
                    <td class="right">@proc.Ppid</td>
                    <td class="right">@proc.C</td>
                    <td class="right">@proc.Stime</td>
                    <td class="right">@proc.Tty</td>
                    <td class="right">@proc.Time</td>
                    <td class="right">@proc.Cmd</td>
                </tr>
            }
        </tbody>
    </table>
}