@using System.Collections.Generic
<legend id="List">App List</legend>

@foreach (antdlib.Apps.Management.AppInfo app in Model.AppList) {
    <div class="panel border-2-anthilla-gray" data-role="panel" style="margin-bottom: 5px;">
        <div class="panel-header bg-anthilla-gray fg-white nif-header" data-app-name="@app.Name">
            <i class="icon-cone on-left"></i>  @app.Name
        </div>
        <div class="panel-content nif-content" style="display: none;" data-app-content="@app.Name">
            <table class="table">
                <tbody>
                    @foreach (KeyValuePair<string, string> kvp in app.Values) {
                        <tr>
                            <td><label>@kvp.Key</label></td>
                            <td><p>@kvp.Value</p></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
