<legend id="Bind">
    Bind
    @if (antdlib.Svcs.Bind.BindConfig.IsActive == false) {
        <i id="ActivateBind" class="icon-upload fg-anthilla-orange" style="float:right; cursor: pointer;"></i>
    }
    else {
        <i id="RefreshBind" class="icon-redo fg-anthilla-blu" style="float:right; cursor: pointer; margin: auto 10px;"></i>
        <i id="ReloadBind" class="icon-cycle fg-lightGreen" style="float:right; cursor: pointer; margin: auto 10px;"></i>
    }
</legend>

@if (antdlib.Svcs.Bind.BindConfig.IsActive == true && antdlib.Svcs.Bind.BindConfig.MapFile.Get() != null) {

    <form action="/services/update/bind" id="BindForm" method="POST" enctype="multipart/form-data">
        <table class="table" data-search="BindSearch">
            <tbody>
                @foreach (antdlib.Svcs.Bind.BindConfig.OptionModel option in antdlib.Svcs.Bind.BindConfig.MapFile.Get().Options) {
                    @BindDisplayOption(option.Name, option.StringDefinition, option.FilePath, option.Data)
                }
            </tbody>
        </table>
    </form>
}

@helper BindDisplayOption(string name, string definition, string filePath, List<antdlib.Svcs.Bind.BindConfig.LineModel> options) {
    <tr data-file="@filePath" data-object="bind-parameter">
        <td style="width: 25%;" colspan="2">
            @name
            <input name="DataOptionName" type="hidden" value="@name" />
            <input name="DataOptionFilePath" type="hidden" value="@filePath" />
        </td>
        <td>@*@definition*@</td>
    </tr>
foreach (antdlib.Svcs.Bind.BindConfig.LineModel option in options) {
        <tr data-file="@filePath" data-object="bind-parameter">
            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A;"></td>
            <td style="width: 25%;">
                @option.Key
                <input name="DataOptionName" type="hidden" value="@option.Key" />
                <input name="DataOptionFilePath" type="hidden" value="@filePath" />
            </td>
            <td style="width: 25%;">
                @option.Value
            </td>
        </tr>
}
}
