<legend id="Samba">
    Samba
    @if (antdlib.Svcs.Samba.SambaConfig.IsActive == false) {
        <i id="ActivateSamba" class="icon-upload fg-anthilla-orange" style="float:right; cursor: pointer;"></i>
    }
    else {
        <i id="ShowSambaStructure" class="icon-list fg-white" style="float:right; cursor: pointer; margin: auto 10px;"></i>
        <i id="RefreshSamba" class="icon-redo fg-anthilla-blu" style="float:right; cursor: pointer; margin: auto 10px;"></i>
        <i id="ReloadSamba" class="icon-cycle fg-lightGreen" style="float:right; cursor: pointer; margin: auto 10px;"></i>
    }
</legend>
@if (antdlib.Svcs.Samba.SambaConfig.IsActive == true && antdlib.Svcs.Samba.SambaConfig.MapFile.Get() != null) {

    <div data-role="tab-control" class="tab-control">
        <ul class="tabs">
            <li class="active"><a href="#samba_global">Global</a></li>
            <li><a href="#samba_share">Share</a></li>
        </ul>

        <div class="frames">
            <div id="samba_global" class="frame" style="display: block;">

                <div id="SambaConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <input type="button" onclick="$('#SambaForm').submit()" class="bg-mauve" value="Update Global Configuration" style="display: inline-block;">
                    <input type="button" class="bg-mauve" value="Add New Parameter to Global Configuration" id="AddNewParameterSamba" style="display: inline-block;">
                    <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="SambaSearch" class="search-field" autocomplete="off">
                </div>

                <div id="NewParameterSambaDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <form action="/services/samba/addparam" method="POST" enctype="multipart/form-data" class="grid">
                        <div class="row">
                            <div class="span4">
                                <label>Parameter Key</label>
                            </div>
                            <div class="span6">
                                <input name="NewParameterKey" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>Parameter Value</label>
                            </div>
                            <div class="span6">
                                <input name="NewParameterValue" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>&nbsp</label>
                            </div>
                            <div class="span6">
                                <input value="Add Parameter" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                            </div>
                        </div>
                    </form>
                </div>
                <form action="/services/update/samba" id="SambaForm" method="POST" enctype="multipart/form-data">
                    <table class="table" data-search="SambaSearch">
                        <thead id="SambaStructure" style="display: none;">
                            <tr>
                                <td colspan="3">
                                    <ul class="fg-white" style="list-style: none;">
                                        <li><label>Service Structure</label></li>
                                        @foreach (KeyValuePair<string, List<string>> directory in antdlib.Svcs.Samba.SambaConfig.Structure) {
                                            <li>
                                                @directory.Key
                                            </li>
                                            <li>
                                                <ul class="fg-grayLight" style="list-style: none;">
                                                    @foreach (string included in directory.Value) {
                                                        <li>
                                                            @included
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (antdlib.Svcs.Samba.SambaConfig.LineModel data in antdlib.Svcs.Samba.SambaConfig.MapFile.Get().Data) {
                    if (data.Type != antdlib.ServiceDataType.Disabled) {
                                    @SambaDisplayData(data.Type, data.Key, data.Value, data.FilePath, data.BooleanVerbs)
                                }
                            }
                        </tbody>
                    </table>
                </form>
            </div>
            <div id="samba_share" class="frame" style="display: none;">

                <div id="SambaShareConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <input type="button" class="bg-mauve" value="Add New Share" id="AddNewShare" style="display: inline-block;">
                </div>

                <div id="NewSambaShare" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <form action="/services/samba/addshare" method="POST" enctype="multipart/form-data" class="grid">
                        <div class="row">
                            <div class="span4">
                                <label>Share Name</label>
                            </div>
                            <div class="span6">
                                <input name="NewShareName" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>Share Directory</label>
                            </div>
                            <div class="span6">
                                <input name="NewShareDirectory" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>&nbsp</label>
                            </div>
                            <div class="span6">
                                <input value="Add Share" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                            </div>
                        </div>
                    </form>
                </div>

                @foreach (antdlib.Svcs.Samba.SambaConfig.ShareModel share in antdlib.Svcs.Samba.SambaConfig.MapFile.Get().Share) {
                    <form action="/services/update/sambashares" data-share-form="ShareForm" data-share-name="@share.Name" method="POST" enctype="multipart/form-data">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td colspan="3" style="border-bottom: 4px solid #3A3A3A;">
                                        <input name="ShareName" type="text" value="@share.Name" style="padding: 5px; width: 50%;" />
                                        <input name="ShareQueryName" type="hidden" value="@share.Name" />
                                        <input name="ShareFile" type="hidden" value="@share.FilePath" />
                                        <input type="submit" value="Update @share.Name" class="bg-indigo" style="float: right;" />
                                    </td>
                                </tr>
                                @foreach (antdlib.Svcs.Samba.SambaConfig.LineModel data in share.Data) {
                                    if (data.Type != antdlib.ServiceDataType.Disabled) {
                                        @SambaDisplayShareData(data.Type, data.Key, data.Value, data.FilePath, share.Name, data.BooleanVerbs)
                                    }
                                }
                            </tbody>
                        </table>
                    </form>
                }
            </div>
        </div>
    </div>
}

@helper SambaDisplayData(antdlib.ServiceDataType type, string key, string value, string filePath, KeyValuePair<string, string> verbs) {
    <tr data-file="@filePath" data-object="samba-parameter">
        <td style="width: 33%;">
            @key
            <input name="DataKey" type="hidden" value="@key" />
            <input name="DataFilePath" type="hidden" value="@filePath" />
        </td>
        @if (type == antdlib.ServiceDataType.String || type == antdlib.ServiceDataType.StringArray) {
            <td>
                <input name="DataValue" type="text" value="@value" style="width: 90%;" />
            </td>
        }
        else if (type == antdlib.ServiceDataType.Boolean) {
            <td>
                <select name="DataValue">
                    @if (value == verbs.Key) {
                        <option value="@verbs.Key" selected>@verbs.Key</option>
                        <option value="@verbs.Value">@verbs.Value</option>
                    }
                    else {
                        <option value="@verbs.Key">@verbs.Key</option>
                        <option value="@verbs.Value" selected>@verbs.Value</option>
                    }
                </select>
            </td>
        }
    </tr>
}

@helper SambaDisplayShareData(antdlib.ServiceDataType type, string key, string value, string filePath, string shareName, KeyValuePair<string, string> verbs) {
    <tr data-file="@filePath" data-share="@shareName" data-object="share-parameter">
        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A;"></td>
        <td style="width: 33%;">
            @key
            <input name="DataKey" type="hidden" value="@key" />
            <input name="DataFilePath" type="hidden" value="@filePath" />
        </td>
        @if (type == antdlib.ServiceDataType.String || type == antdlib.ServiceDataType.StringArray) {
            <td>
                <input name="DataValue" type="text" value="@value" style="width: 90%;" />
            </td>
        }
        else if (type == antdlib.ServiceDataType.Boolean) {
            <td>
                <select name="DataValue">
                    @if (value == verbs.Key) {
                        <option value="@verbs.Key" selected>@verbs.Key</option>
                        <option value="@verbs.Value">@verbs.Value</option>
                    }
                    else {
                        <option value="@verbs.Key">@verbs.Key</option>
                        <option value="@verbs.Value" selected>@verbs.Value</option>
                    }
                </select>
            </td>
        }
    </tr>
}