<legend id="DHCP">
    DHCP
    @if (antdlib.Svcs.Dhcp.DhcpConfig.IsActive == false) {
        <i id="ActivateDhcp" class="icon-upload fg-anthilla-orange" style="float:right; cursor: pointer;"></i>
    }
    else {
        <i id="RefreshDhcp" class="icon-redo fg-anthilla-blu" style="float:right; cursor: pointer; margin: auto 10px;"></i>
        <i id="ReloadDhcp" class="icon-cycle fg-lightGreen" style="float:right; cursor: pointer; margin: auto 10px;"></i>
    }
</legend>

@if (antdlib.Svcs.Dhcp.DhcpConfig.IsActive == true) {
    <div data-role="tab-control" class="tab-control">
        <ul class="tabs">
            <li class="active"><a href="#dhcp_global">Global</a></li>
            <li><a href="#dhcp_key">Key</a></li>
            <li><a href="#dhcp_subnet">Subnet</a></li>
            <li><a href="#dhcp_subnet6">Subnet6</a></li>
            <li><a href="#dhcp_host">Host</a></li>
            <li><a href="#dhcp_failover">Failover</a></li>
            <li><a href="#dhcp_sharednetwork">Shared Network</a></li>
            <li><a href="#dhcp_group">Group</a></li>
            <li><a href="#dhcp_class">Class</a></li>
            <li><a href="#dhcp_subclass">Subclass</a></li>
            <li><a href="#dhcp_logging">Logging</a></li>
        </ul>

        <div class="frames">
            <div id="dhcp_global" class="frame">
                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpGlobal.Count > 0) {
                    <form action="/services/update/dhcp/global" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                        <table class="table" data-search="DhcpSearch" data-section="dhcp-acl">
                            <tbody>
                                <tr>
                                    <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                    <td colspan="2">
                                        <input name="Update Global Configuration" type="submit" style="width: 90%;" />
                                    </td>
                                </tr>
                                @foreach (antdlib.Svcs.Dhcp.DhcpConfig.LineModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpGlobal) {
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataKey" type="text" style="width: 90%;" value="@option.Key" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />

                                        </td>
                                        <td class="bg-anthilla-gray-m">
                                            <input data-array="dhcp" name="DataValue" type="text" style="width: 90%;" value="@option.Value" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                }

                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpPrefix6.Count > 0) {
                    <form action="/services/update/dhcp/prefix6" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                        <table class="table" data-search="DhcpSearch" data-section="dhcp-acl">
                            <tbody>
                                <tr>
                                    <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                    <td colspan="2">
                                        <input name="Update Prefix6 Configuration" type="submit" style="width: 90%;" />
                                    </td>
                                </tr>
                                @foreach (antdlib.Svcs.Dhcp.DhcpConfig.LineModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpPrefix6) {
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataKey" type="text" style="width: 90%;" value="@option.Key" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />

                                        </td>
                                        <td class="bg-anthilla-gray-m">
                                            <input data-array="dhcp" name="DataValue" type="text" style="width: 90%;" value="@option.Value" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                }

                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpRange6.Count > 0) {
                    <form action="/services/update/dhcp/range6" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                        <table class="table" data-search="DhcpSearch" data-section="dhcp-acl">
                            <tbody>
                                <tr>
                                    <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                    <td colspan="2">
                                        <input name="Update Range6 Configuration" type="submit" style="width: 90%;" />
                                    </td>
                                </tr>
                                @foreach (antdlib.Svcs.Dhcp.DhcpConfig.LineModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpRange6) {
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataKey" type="text" style="width: 90%;" value="@option.Key" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />

                                        </td>
                                        <td class="bg-anthilla-gray-m">
                                            <input data-array="dhcp" name="DataValue" type="text" style="width: 90%;" value="@option.Value" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                }

                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpRange.Count > 0) {
                    <form action="/services/update/dhcp/range" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                        <table class="table" data-search="DhcpSearch" data-section="dhcp-acl">
                            <tbody>
                                <tr>
                                    <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                    <td colspan="2">
                                        <input name="Update Range Configuration" type="submit" style="width: 90%;" />
                                    </td>
                                </tr>
                                @foreach (antdlib.Svcs.Dhcp.DhcpConfig.LineModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpRange) {
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataKey" type="text" style="width: 90%;" value="@option.Key" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />

                                        </td>
                                        <td class="bg-anthilla-gray-m">
                                            <input data-array="dhcp" name="DataValue" type="text" style="width: 90%;" value="@option.Value" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                }
            </div>

            <div id="dhcp_key" class="frame" style="display: none;">
                <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <input type="button" class="bg-mauve" value="New Key Configuration" id="AddNewKeyDhcp" style="display: inline-block;">
                    <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
                </div>

                <div id="NewKeyDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <form action="/services/dhcp/addkey" method="POST" enctype="multipart/form-data" class="grid">
                        <div class="row">
                            <div class="span4">
                                <label>Key Name</label>
                            </div>
                            <div class="span6">
                                <input name="NewKeyName" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>&nbsp</label>
                            </div>
                            <div class="span6">
                                <input value="Add Key" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                            </div>
                        </div>
                    </form>
                </div>

                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpKey.Count > 0) {
                    @foreach (antdlib.Svcs.Dhcp.DhcpConfig.OptionModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpKey) {
                        <form action="/services/update/dhcp/key/@option.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                            <table class="table" data-search="DhcpSearch" data-section="dhcp-key" data-key-name="@option.Name">
                                <tbody>
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                                        <td colspan="3">
                                            @option.Name
                                            <input type="submit" value="Update Key @option.Name" style="float:right;" class="bg-green" />
                                        </td>
                                    </tr>
                                    @DhcpDisplayMultOption(option.Name, option.FilePath, option.Data)
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataKey" type="text" style="width: 90%;" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />
                                        </td>
                                        <td>
                                            <input name="DataValue" type="text" style="width: 90%;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    }
                }
            </div>

            <div id="dhcp_subnet" class="frame" style="display: none;">

                <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <input type="button" class="bg-mauve" value="New Subnet Configuration" id="AddNewSubnetDhcp" style="display: inline-block;">
                    <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
                </div>

                <div id="NewSubnetDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <form action="/services/dhcp/addsubnet" method="POST" enctype="multipart/form-data" class="grid">
                        <div class="row">
                            <div class="span4">
                                <label>Subnet Name</label>
                            </div>
                            <div class="span6">
                                <input name="NewSubnetName" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>&nbsp</label>
                            </div>
                            <div class="span6">
                                <input value="Add Subnet" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                            </div>
                        </div>
                    </form>
                </div>

                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpSubnet.Count > 0) {
                    @foreach (antdlib.Svcs.Dhcp.DhcpConfig.OptionModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpSubnet) {
                        <form action="/services/update/dhcp/subnet/@option.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                            <table class="table" data-search="DhcpSearch" data-section="dhcp-subnet" data-subnet-name="@option.Name">
                                <tbody>
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                                        <td colspan="3">
                                            @option.Name
                                            <input type="submit" value="Update Subnet @option.Name" style="float:right;" class="bg-green" />
                                        </td>
                                    </tr>
                                    @DhcpDisplayMultOption(option.Name, option.FilePath, option.Data)
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataSubnet" type="text" style="width: 90%;" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />
                                        </td>
                                        <td>
                                            <input name="DataValue" type="text" style="width: 90%;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    }
                }
            </div>

            <div id="dhcp_subnet6" class="frame" style="display: none;">
                <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <input type="button" class="bg-mauve" value="New Subnet6 Configuration" id="AddNewSubnet6Dhcp" style="display: inline-block;">
                    <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
                </div>

                <div id="NewSubnet6DhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <form action="/services/dhcp/addsubnet6" method="POST" enctype="multipart/form-data" class="grid">
                        <div class="row">
                            <div class="span4">
                                <label>Subnet6 Name</label>
                            </div>
                            <div class="span6">
                                <input name="NewSubnet6Name" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>&nbsp</label>
                            </div>
                            <div class="span6">
                                <input value="Add Subnet6" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                            </div>
                        </div>
                    </form>
                </div>

                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpSubnet6.Count > 0) {
                    @foreach (antdlib.Svcs.Dhcp.DhcpConfig.OptionModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpSubnet6) {
                        <form action="/services/update/dhcp/subnet6/@option.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                            <table class="table" data-search="DhcpSearch" data-section="dhcp-subnet6" data-subnet6-name="@option.Name">
                                <tbody>
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                                        <td colspan="3">
                                            @option.Name
                                            <input type="submit" value="Update Subnet6 @option.Name" style="float:right;" class="bg-green" />
                                        </td>
                                    </tr>
                                    @DhcpDisplayMultOption(option.Name, option.FilePath, option.Data)
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataSubnet6" type="text" style="width: 90%;" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />
                                        </td>
                                        <td>
                                            <input name="DataValue" type="text" style="width: 90%;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    }
                }
            </div>

            <div id="dhcp_host" class="frame" style="display: none;">
                <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <input type="button" class="bg-mauve" value="New Host Configuration" id="AddNewHostDhcp" style="display: inline-block;">
                    <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
                </div>

                <div id="NewHostDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <form action="/services/dhcp/addhost" method="POST" enctype="multipart/form-data" class="grid">
                        <div class="row">
                            <div class="span4">
                                <label>Host Name</label>
                            </div>
                            <div class="span6">
                                <input name="NewHostName" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>&nbsp</label>
                            </div>
                            <div class="span6">
                                <input value="Add Host" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                            </div>
                        </div>
                    </form>
                </div>

                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpHost.Count > 0) {
                    @foreach (antdlib.Svcs.Dhcp.DhcpConfig.OptionModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpHost) {
                        <form action="/services/update/dhcp/host/@option.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                            <table class="table" data-search="DhcpSearch" data-section="dhcp-host" data-host-name="@option.Name">
                                <tbody>
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                                        <td colspan="3">
                                            @option.Name
                                            <input type="submit" value="Update Host @option.Name" style="float:right;" class="bg-green" />
                                        </td>
                                    </tr>
                                    @DhcpDisplayMultOption(option.Name, option.FilePath, option.Data)
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataHost" type="text" style="width: 90%;" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />
                                        </td>
                                        <td>
                                            <input name="DataValue" type="text" style="width: 90%;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    }
                }
            </div>

            <div id="dhcp_failover" class="frame" style="display: none;">
                <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <input type="button" class="bg-mauve" value="New Failover Configuration" id="AddNewFailoverDhcp" style="display: inline-block;">
                    <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
                </div>

                <div id="NewFailoverDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <form action="/services/dhcp/addfailover" method="POST" enctype="multipart/form-data" class="grid">
                        <div class="row">
                            <div class="span4">
                                <label>Failover Name</label>
                            </div>
                            <div class="span6">
                                <input name="NewFailoverName" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>&nbsp</label>
                            </div>
                            <div class="span6">
                                <input value="Add Failover" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                            </div>
                        </div>
                    </form>
                </div>

                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpFailover.Count > 0) {
                    @foreach (antdlib.Svcs.Dhcp.DhcpConfig.OptionModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpFailover) {
                        <form action="/services/update/dhcp/failover/@option.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                            <table class="table" data-search="DhcpSearch" data-section="dhcp-failover" data-failover-name="@option.Name">
                                <tbody>
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                                        <td colspan="3">
                                            @option.Name
                                            <input type="submit" value="Update Failover @option.Name" style="float:right;" class="bg-green" />
                                        </td>
                                    </tr>
                                    @DhcpDisplayMultOption(option.Name, option.FilePath, option.Data)
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataFailover" type="text" style="width: 90%;" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />
                                        </td>
                                        <td>
                                            <input name="DataValue" type="text" style="width: 90%;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    }
                }
            </div>

            <div id="dhcp_sharednetwork" class="frame" style="display: none;">
                <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <input type="button" class="bg-mauve" value="New SharedNetwork Configuration" id="AddNewSharedNetworkDhcp" style="display: inline-block;">
                    <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
                </div>

                <div id="NewSharedNetworkDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <form action="/services/dhcp/addsharednetwork" method="POST" enctype="multipart/form-data" class="grid">
                        <div class="row">
                            <div class="span4">
                                <label>SharedNetwork Name</label>
                            </div>
                            <div class="span6">
                                <input name="NewSharedNetworkName" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>&nbsp</label>
                            </div>
                            <div class="span6">
                                <input value="Add SharedNetwork" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                            </div>
                        </div>
                    </form>
                </div>

                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpSharedNetwork.Count > 0) {
                    @foreach (antdlib.Svcs.Dhcp.DhcpConfig.OptionModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpSharedNetwork) {
                        <form action="/services/update/dhcp/sharednetwork/@option.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                            <table class="table" data-search="DhcpSearch" data-section="dhcp-sharednetwork" data-sharednetwork-name="@option.Name">
                                <tbody>
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                                        <td colspan="3">
                                            @option.Name
                                            <input type="submit" value="Update SharedNetwork @option.Name" style="float:right;" class="bg-green" />
                                        </td>
                                    </tr>
                                    @DhcpDisplayMultOption(option.Name, option.FilePath, option.Data)
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataSharedNetwork" type="text" style="width: 90%;" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />
                                        </td>
                                        <td>
                                            <input name="DataValue" type="text" style="width: 90%;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    }
                }
            </div>

            <div id="dhcp_group" class="frame" style="display: none;">
                <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <input type="button" class="bg-mauve" value="New Group Configuration" id="AddNewGroupDhcp" style="display: inline-block;">
                    <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
                </div>

                <div id="NewGroupDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <form action="/services/dhcp/addgroup" method="POST" enctype="multipart/form-data" class="grid">
                        <div class="row">
                            <div class="span4">
                                <label>Group Name</label>
                            </div>
                            <div class="span6">
                                <input name="NewGroupName" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>&nbsp</label>
                            </div>
                            <div class="span6">
                                <input value="Add Group" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                            </div>
                        </div>
                    </form>
                </div>

                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpGroup.Count > 0) {
                    @foreach (antdlib.Svcs.Dhcp.DhcpConfig.OptionModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpGroup) {
                        <form action="/services/update/dhcp/group/@option.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                            <table class="table" data-search="DhcpSearch" data-section="dhcp-group" data-group-name="@option.Name">
                                <tbody>
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                                        <td colspan="3">
                                            @option.Name
                                            <input type="submit" value="Update Group @option.Name" style="float:right;" class="bg-green" />
                                        </td>
                                    </tr>
                                    @DhcpDisplayMultOption(option.Name, option.FilePath, option.Data)
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataGroup" type="text" style="width: 90%;" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />
                                        </td>
                                        <td>
                                            <input name="DataValue" type="text" style="width: 90%;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    }
                }
            </div>

            <div id="dhcp_class" class="frame" style="display: none;">
                <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <input type="button" class="bg-mauve" value="New Class Configuration" id="AddNewClassDhcp" style="display: inline-block;">
                    <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
                </div>

                <div id="NewClassDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <form action="/services/dhcp/addclass" method="POST" enctype="multipart/form-data" class="grid">
                        <div class="row">
                            <div class="span4">
                                <label>Class Name</label>
                            </div>
                            <div class="span6">
                                <input name="NewClassName" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>&nbsp</label>
                            </div>
                            <div class="span6">
                                <input value="Add Class" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                            </div>
                        </div>
                    </form>
                </div>

                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpClass.Count > 0) {
                    @foreach (antdlib.Svcs.Dhcp.DhcpConfig.OptionModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpClass) {
                        <form action="/services/update/dhcp/class/@option.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                            <table class="table" data-search="DhcpSearch" data-section="dhcp-class" data-class-name="@option.Name">
                                <tbody>
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                                        <td colspan="3">
                                            @option.Name
                                            <input type="submit" value="Update Class @option.Name" style="float:right;" class="bg-green" />
                                        </td>
                                    </tr>
                                    @DhcpDisplayMultOption(option.Name, option.FilePath, option.Data)
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataClass" type="text" style="width: 90%;" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />
                                        </td>
                                        <td>
                                            <input name="DataValue" type="text" style="width: 90%;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    }
                }
            </div>

            <div id="dhcp_subclass" class="frame" style="display: none;">
                <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <input type="button" class="bg-mauve" value="New Subclass Configuration" id="AddNewSubclassDhcp" style="display: inline-block;">
                    <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
                </div>

                <div id="NewSubclassDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <form action="/services/dhcp/addsubclass" method="POST" enctype="multipart/form-data" class="grid">
                        <div class="row">
                            <div class="span4">
                                <label>Subclass Name</label>
                            </div>
                            <div class="span6">
                                <input name="NewSubclassName" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>&nbsp</label>
                            </div>
                            <div class="span6">
                                <input value="Add Subclass" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                            </div>
                        </div>
                    </form>
                </div>

                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpSubclass.Count > 0) {
                    @foreach (antdlib.Svcs.Dhcp.DhcpConfig.OptionModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpSubclass) {
                        <form action="/services/update/dhcp/subclass/@option.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                            <table class="table" data-search="DhcpSearch" data-section="dhcp-subclass" data-subclass-name="@option.Name">
                                <tbody>
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                                        <td colspan="3">
                                            @option.Name
                                            <input type="submit" value="Update Subclass @option.Name" style="float:right;" class="bg-green" />
                                        </td>
                                    </tr>
                                    @DhcpDisplayMultOption(option.Name, option.FilePath, option.Data)
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataSubclass" type="text" style="width: 90%;" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />
                                        </td>
                                        <td>
                                            <input name="DataValue" type="text" style="width: 90%;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    }
                }
            </div>

            <div id="dhcp_logging" class="frame" style="display: none;">
                <div id="DhcpConfigPanel" style="width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <input type="button" class="bg-mauve" value="New Logging Configuration" id="AddNewLoggingDhcp" style="display: inline-block;">
                    <input type="text" placeholder="Search" style="position: relative; margin-bottom: 15px; height: 30px; width: 300px; padding-left: 5px; display: inline; float: right;" data-table="DhcpSearch" class="search-field" autocomplete="off">
                </div>

                <div id="NewLoggingDhcpDashboard" style="display: none; width: 100%; height: auto; padding: 20px; margin-bottom: 15px;" class="border-2-anthilla-gray">
                    <form action="/services/dhcp/addlogging" method="POST" enctype="multipart/form-data" class="grid">
                        <div class="row">
                            <div class="span4">
                                <label>Logging Name</label>
                            </div>
                            <div class="span6">
                                <input name="NewLoggingName" type="text" style="width: 90%;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="span4">
                                <label>&nbsp</label>
                            </div>
                            <div class="span6">
                                <input value="Add Logging" type="submit" style="width: 90%;" class="bg-anthilla-geen" />
                            </div>
                        </div>
                    </form>
                </div>

                @if (antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpLogging.Count > 0) {
                    @foreach (antdlib.Svcs.Dhcp.DhcpConfig.OptionModel option in antdlib.Svcs.Dhcp.DhcpConfig.MapFile.Get().DhcpLogging) {
                        <form action="/services/update/dhcp/logging/@option.Name" id="DhcpForm" data-role="dhcp-section-update" method="POST" enctype="multipart/form-data">
                            <table class="table" data-search="DhcpSearch" data-section="dhcp-logging" data-logging-name="@option.Name">
                                <tbody>
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
                                        <td colspan="3">
                                            @option.Name
                                            <input type="submit" value="Update Logging @option.Name" style="float:right;" class="bg-green" />
                                        </td>
                                    </tr>
                                    @DhcpDisplayMultOption(option.Name, option.FilePath, option.Data)
                                    <tr data-file="@option.FilePath" data-object="dhcp-parameter">
                                        <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
                                        <td style="width: 20%;">
                                            <input name="DataLogging" type="text" style="width: 90%;" />
                                            <input name="DataFilePath" type="hidden" value="@option.FilePath" />
                                        </td>
                                        <td>
                                            <input name="DataValue" type="text" style="width: 90%;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    }
                }
            </div>
        </div>
    </div>
}

@helper DhcpDisplayMultOption(string name, string filePath, List<antdlib.Svcs.Dhcp.DhcpConfig.LineModel>
    lines) {
foreach (antdlib.Svcs.Dhcp.DhcpConfig.LineModel line in lines) {
        <tr data-file="@filePath" data-object="dhcp-parameter">
            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
            <td style="width: 20%;">
                @line.Key
                <input name="DataKey" type="hidden" value="@line.Key" />
                <input name="DataFilePath" type="hidden" value="@filePath" />
                <input name="DataType" type="hidden" value="@line.Type" />
            </td>
            @if (line.Type == antdlib.ServiceDataType.String) {
                <td>
                    <input name="DataValue" type="text" value="@line.Value" style="width: 90%;" />
                </td>
            }
            else if (line.Type == antdlib.ServiceDataType.StringArray) {
                <td>
                    <input data-array="dhcp" name="DataValue" type="text" value="@line.Value" style="width: 90%;" />
                </td>
            }
            else if (line.Type == antdlib.ServiceDataType.Boolean) {
                <td>
                    <select name="DataValue">
                        @if (line.Value == line.BooleanVerbs.Key) {
                            <option value="@line.BooleanVerbs.Key" selected>@line.BooleanVerbs.Key</option>
                            <option value="@line.BooleanVerbs.Value">@line.BooleanVerbs.Value</option>
                        }
                        else {
                            <option value="@line.BooleanVerbs.Key">@line.BooleanVerbs.Key</option>
                            <option value="@line.BooleanVerbs.Value" selected>@line.BooleanVerbs.Value</option>
                        }
                    </select>
                </td>
            }
        </tr>
}
}

@helper DhcpDisplayOption(string name, string filePath, List<antdlib.Svcs.Dhcp.DhcpConfig.LineModel>
        lines) {
    <tr data-file="@filePath" data-object="dhcp-parameter" style="border-bottom: 4px solid #3A3A3A;">
        <td colspan="3">
            @name
            <input type="submit" value="Update Dhcp @name" style="float:right;" class="bg-green" />
        </td>
    </tr>
foreach (antdlib.Svcs.Dhcp.DhcpConfig.LineModel line in lines) {
        <tr data-file="@filePath" data-object="dhcp-parameter">
            <td class="bg-anthilla-gray-m" style="border-width: 0; border-right: 4px solid #3A3A3A; width: 13%;"></td>
            <td style="width: 20%;">
                @line.Key
                <input name="DataKey" type="hidden" value="@line.Key" />
                <input name="DataFilePath" type="hidden" value="@filePath" />
                <input name="DataType" type="hidden" value="@line.Type" />
            </td>
            @if (line.Type == antdlib.ServiceDataType.String) {
                <td>
                    <input name="DataValue" type="text" value="@line.Value" style="width: 90%;" />
                </td>
            }
            else if (line.Type == antdlib.ServiceDataType.StringArray) {
                <td>
                    <input data-array="dhcp" name="DataValue" type="text" value="@line.Value" style="width: 90%;" />
                </td>
            }
            else if (line.Type == antdlib.ServiceDataType.Boolean) {
                <td>
                    <select name="DataValue">
                        @if (line.Value == line.BooleanVerbs.Key) {
                            <option value="@line.BooleanVerbs.Key" selected>@line.BooleanVerbs.Key</option>
                            <option value="@line.BooleanVerbs.Value">@line.BooleanVerbs.Value</option>
                        }
                        else {
                            <option value="@line.BooleanVerbs.Key">@line.BooleanVerbs.Key</option>
                            <option value="@line.BooleanVerbs.Value" selected>@line.BooleanVerbs.Value</option>
                        }
                    </select>
                </td>
            }
        </tr>
}
}
