@*
    //-------------------------------------------------------------------------------------
    //     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
    //     All rights reserved.
    //
    //     Redistribution and use in source and binary forms, with or without
    //     modification, are permitted provided that the following conditions are met:
    //         * Redistributions of source code must retain the above copyright
    //           notice, this list of conditions and the following disclaimer.
    //         * Redistributions in binary form must reproduce the above copyright
    //           notice, this list of conditions and the following disclaimer in the
    //           documentation and/or other materials provided with the distribution.
    //         * Neither the name of the Anthilla S.r.l. nor the
    //           names of its contributors may be used to endorse or promote products
    //           derived from this software without specific prior written permission.
    //
    //     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    //     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    //     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    //     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
    //     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    //     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    //     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
    //     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    //     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    //     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    //
    //     20141110
    //-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{Layout = "_layout.cshtml";}

@section PageBar {
    <style type="text/css">
        #Firewall-TB {
            border-bottom: 10px solid #A7BD39;
            height: 80px !important;
        }
    </style>
    <nav class="navigation-bar bg-anthilla-gray-m page-bar menu-bar" style="height: 50px !important;">
        <nav class="navigation-bar-content">
            <div class="element upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay" style="padding-top: 11px;">
                <i class="icon-fire on-left" style="line-height: 5px;"></i>
                NFTable
            </div>
            <div class="element-divider"></div>
        </nav>
    </nav>
}

@helper RulesetBox(string type, string hook, string table, string color = "green") {
    <div data-object="ruleset" data-type="@type" data-hook="@hook" data-table="@table" class="tile half no-outline border-anthilla-gray" style="width: 75px !important; text-align: center; margin-right: 0px;">
        <div style="width: 100%; height: 50%; border-bottom: 1px solid #3A3A3A; padding: 2px;" class="ribbed-@color fg-black">
            <span style="font-size: 12px !important">@type</span>
        </div>
        <div style="width: 100%; height: 50%; border-top: 1px solid #3A3A3A; padding: 2px;" class="bg-white fg-black">
            <span style="font-size: 10px !important">@hook</span>
        </div>
    </div>
}

@helper ConnectionBox(string text, string color = "grayLight") {
    <div class="tile half no-outline border-anthilla-gray" style="width: 75px !important; text-align: center; margin-right: 0px;">
        <div class="bg-@color fg-black" style="width: 100%; height: 100%; padding: 5px;">
            <span>@text</span>
        </div>
    </div>
}

@helper EmptyBox() {
    <div class="tile half no-outline bg-transparent" style="width: 75px !important; text-align: center; margin-right: 0px; cursor: default !important;">
    </div>
}

@section MainContent {
    <div class="cctable-container border-2-anthilla-gray" style="width: 100%; min-height: 100px;  margin-bottom: 15px; padding: 15px;">
        <legend>
            <i class="icon-fire on-left"></i>
            NFTable Configuration
            <i id="ExportFirewallConfiguration" class="icon-upload fg-anthilla-green" style="float: right; cursor: pointer !important;"></i>
        </legend>
        <div style="margin-bottom: 55px;">
            <label style="float:left; position: relative; left: 140px;">prerouting</label>
            <label style="float:left; position: relative; left: 250px;">input</label>
            <label style="float:left; position: relative; left: 430px;">forward</label>
            <label style="float:left; position: relative; left: 600px;">output</label>
            <label style="float:left; position: relative; left: 695px;">postrouting</label>
        </div>
        <div style="width: 1450px; height: 500px ;  position:absolute; z-index: 0; opacity: 0.3;">
            <div data-hook="prerouting" style="height: 100%; width: 150px; position: relative ;left: 105px; float: left;" class="bg-white"></div>
            <div data-hook="input" style="height: 100%; width: 150px; position: relative; left: 115px; float: left;" class="bg-white"></div>
            <div data-hook="forward" style="height: 100%; width: 150px; position: relative ;left:185px; float: left;" class="bg-white"></div>
            <div data-hook="output" style="height: 100%; width: 150px; position: relative ;left:255px; float: left;" class="bg-white"></div>
            <div data-hook="postrouting" style="height: 100%; width: 150px; position: relative ;left:265px; float: left;" class="bg-white"></div>
        </div>
        <div class="grid bg-transparent" style="width: 1450px; position:relative; z-index: 4;">
            <div class="row bg-transparent" style="margin-bottom: 10px;">
                @ConnectionBox("IP", "gray")
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("route", "input", "ip", "red")
                @RulesetBox("filter", "input", "ip")
                @RulesetBox("nat", "input", "ip", "blue")
                @EmptyBox()
                @ConnectionBox("local machine")
                @EmptyBox()
                @RulesetBox("nat", "output", "ip", "blue")
                @RulesetBox("filter", "output", "ip")
                @RulesetBox("route", "output", "ip", "red")
            </div>
            <div class="row bg-transparent" style="margin-bottom: 10px;">
                @EmptyBox()
                @RulesetBox("nat", "prerouting", "ip", "blue")
                @RulesetBox("filter", "prerouting", "ip")
                @RulesetBox("route", "prerouting", "ip", "red")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("route", "postrouting", "ip", "red")
                @RulesetBox("filter", "postrouting", "ip")
                @RulesetBox("nat", "postrouting", "ip", "blue")
            </div>
            <div class="row bg-transparent" style="margin-bottom: 10px;">
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("route", "forward", "ip", "red")
                @RulesetBox("filter", "forward", "ip")
                @RulesetBox("nat", "forward", "ip", "blue")
            </div>
            <hr class="bg-anthilla-gray" />
            <div class="row bg-transparent" style="margin-bottom: 10px;">
                @ConnectionBox("ARP", "gray")
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("route", "input", "arp", "red")
                @RulesetBox("filter", "input", "arp")
                @RulesetBox("nat", "input", "arp", "blue")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("nat", "output", "arp", "blue")
                @RulesetBox("filter", "output", "arp")
                @RulesetBox("route", "output", "arp", "red")
            </div>
            <hr class="bg-anthilla-gray" />
            <div class="row bg-transparent" style="margin-bottom: 10px;">
                @ConnectionBox("BRIDGE", "gray")
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("route", "input", "bridge", "red")
                @RulesetBox("filter", "input", "bridge")
                @RulesetBox("nat", "input", "bridge", "blue")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("nat", "output", "bridge", "blue")
                @RulesetBox("filter", "output", "bridge")
                @RulesetBox("route", "output", "bridge", "red")
            </div>
            <div class="row bg-transparent" style="margin-bottom: 10px;">
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("route", "forward", "bridge", "red")
                @RulesetBox("filter", "forward", "bridge")
                @RulesetBox("nat", "forward", "bridge", "blue")
            </div>
        </div>
        <hr class="bg-anthilla-gray" />
        <form id="ValueBundleDashboard" action="/firewall/addrule" enctype="multipart/form-data" method="POST">
            <h2 style="display: inline-block;" class="fg-white">Rules for: </h2>
            <h2 style="display: inline-block;" class="fg-white" data-role="display-table-context"></h2>
            <br />
            <input type="hidden" name="Command" />
            <input name="Rule" type="text" style="width: 700px; padding: 10px; margin-bottom: 5px; display: inline;" class="bg-anthilla-gray" data-role="command-place">
            <input type="submit" value="ADD" style="width: 94px; padding: 10px; margin-bottom: 5px; display: inline; color: #3A3A3A ! important;" class="bg-anthilla-green">
        </form>
        <ul id="ResultsContainer" class="fg-white bg-anthilla-gray border-anthilla-gray" style="display: none; list-style: none; padding: 5px; margin-left: 0px; margin-top: -23px; width: 700px; min-height: 37px;"></ul>
        <p id="Tip" style="padding-left: 10px; display: none;">Tip: write {tag:index}</p>
        @*todo NFTCommands*@
        <div style="width: 800px; min-height: 250px; padding-right: 10px;" class="bg-anthilla-gray fg-white border-2-anthilla-gray-m" id="MegaContainer">
            <form action="/cfg/reindex" method="POST" enctype="multipart/form-data">
                <ul id="sortable" style="list-style: none;" class="fg-white">
                    <li class="border-2-anthilla-gray bg-anthilla-gray" style="padding: 10px; height: 45px; margin-bottom: 3px;">
                        <i data-role="show-all-command" class="icon-eye fg-white" style="cursor:pointer ;float:right; margin-right: 10px;"></i>
                        <i data-role="missing-value-notif" class="icon-warning fg-orange blinking" style="display: none;float:right; margin-right: 10px;"></i>
                    </li>
                    @for (int i = 0; i < Model.NFTCommands.Length; i++) {
                        @if (Model.NFTCommands[i].IsEnabled == true) {
                            <li class="border-2-anthilla-green bg-anthilla-gray" style="padding: 10px; height: 45px; margin-bottom: 3px;">
                                <input name="Guid" type="hidden" value="@Model.NFTCommands[i].Guid" />
                                <input name="Index" type="hidden" value="@i" />
                                <p data-role="command-saved" style="float:left;">
                                    @Model.NFTCommands[i].Command
                                </p>
                                <p data-role="command-exd" style="display: none;float:left">
                                    @antdlib.Config.ConfigManagement.SupposeCommandReplacement(Model.NFTCommands[i].Command)
                                </p>

                                <i data-role="stop-rule" data-guid="@Model.NFTCommands[i].Guid" class="icon-stop fg-red" style="cursor:pointer ;float:right;"></i>
                                <i data-role="remove-command" data-guid="@Model.NFTCommands[i].Guid" class="icon-remove fg-orange" style="cursor:pointer ;float:right;"></i>
                                <i data-role="disable-command" data-guid="@Model.NFTCommands[i].Guid" class="icon-checkmark fg-lightBlue" style="cursor:pointer ; float:right; margin-right: 10px;"></i>
                                <i data-role="play-command" data-guid="@Model.CommandBundle[i].Guid" class="icon-lpay fg-indigo" style="cursor:pointer ;float:right; margin-right: 10px;"></i>
                                <i data-role="show-command" class="icon-eye fg-white" style="cursor:pointer ;float:right; margin-right: 10px;"></i>
                            </li>
                        }
                        else {
                            <li class="border-2-anthilla-gray-m bg-anthilla-gray" style="padding: 10px; height: 45px; opacity: 0,5;margin-bottom: 3px;">
                                <input name="Guid" type="hidden" value="@Model.NFTCommands[i].Guid" />
                                <input name="Index" type="hidden" value="@i" />
                                <p data-role="command-saved" style="float:left;">
                                    @Model.NFTCommands[i].Command
                                </p>
                                <p data-role="command-exd" style="display: none;float:left">
                                    @antdlib.Config.ConfigManagement.SupposeCommandReplacement(Model.NFTCommands[i].Command)
                                </p>

                                <i data-role="stop-rule" data-guid="@Model.NFTCommands[i].Guid" class="icon-stop fg-red" style="cursor:pointer ;float:right;"></i>
                                <i data-role="remove-command" data-guid="@Model.NFTCommands[i].Guid" class="icon-remove fg-orange" style="cursor:pointer ;float:right;"></i>
                                <i data-role="enable-command" data-guid="@Model.NFTCommands[i].Guid" class="icon-blocked fg-lightRed" style="cursor:pointer ;float:right; margin-right: 10px;"></i>
                                <i data-role="play-command" data-guid="@Model.CommandBundle[i].Guid" class="icon-lpay fg-indigo" style="cursor:pointer ;float:right; margin-right: 10px;"></i>
                                <i data-role="show-command" class="icon-eye fg-white" style="cursor:pointer ;float:right; margin-right: 10px;"></i>
                            </li>
                        }
                    }
                </ul>
                <input type="submit" class="bg-anthilla-green" value="Save order" style="width: 90%; margin-left: 40px; color:#3A3A3A !important;" />
            </form>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $('div[data-object="ruleset"]').dblclick(function () {
            var table = $(this).attr('data-table');
            var type = $(this).attr('data-type');
            var hook = $(this).attr('data-hook');
            $('#ValueBundleDashboard').find('input[name="Command"]').val('nft add rule ' + table + ' ' + type + ' ' + hook);
            $('[data-role="display-table-context"]').text(table + ' ' + type + ' ' + hook);
            $(window).scrollTop($('#ValueBundleDashboard').offset().top);
            jQuery.support.cors = true;
            $.ajax({
                url: '/firewall/getrule/' + table + '/' + type + '/' + hook,
                type: 'GET',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    $('#new_rules').text(data);
                    return false;
                }
            });
        });

        $('i[data-role="stop-rule"]').click(function () {
            var guid = $(this).attr('data-guid');
            jQuery.support.cors = true;
            $.ajax({
                url: '/firewall/stoprule',
                type: 'POST',
                data: {
                    Guid: guid
                },
                success: function () {
                    location.reload(true);
                }
            });
        });

        $('#ExportFirewallConfiguration').click(function () {
            jQuery.support.cors = true;
            $.ajax({
                url: '/firewall/export',
                type: 'POST',
                success: function () {
                    location.reload(true);
                }
            });
        });
    </script>
}
