<legend id="System">System Users</legend>
<input type="text" class="search-field" style="position: relative; margin-bottom: 15px; height: 30px; width: 100%; padding-left: 5px;" placeholder="Search">
<table class="table searchable">
    <thead>
        <tr>
            <th class="text-left" style="width: 50px;"></th>
            <th class="text-left" style="width: 250px;">user</th>
            <th class="text-left">group id</th>
            <th class="text-left">home</th>
            <th class="text-left">shell</th>
            <th class="text-left">info</th>
            <th class="text-left" style="width: 2%;"></th>
        </tr>
    </thead>
    <tbody id="SysctlBodyTable">
        @foreach (antdlib.Users.UserModel user in Model.SystemUsers) {
            <tr>
                <td>@user.Uid</td>
                <td>@user.Alias </td>
                <td>@user.GroupId </td>
                <td>@user.HomeDirectory </td>
                <td>@user.LoginShell </td>
                <td>@user.Info </td>
                <td><input type="hidden" value="@user.Password.Result" /> </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<form id="UserMapSysDashboard" action="/cfgusers/sysmap/create" method="POST" enctype="multipart/form-data">
    <input name="UserAlias" type="text" class="bg-anthilla-gray">
    <br />
    <input name="UserPassword" type="text" class="bg-anthilla-gray">
    <input type="submit" class="bg-anthilla-green" value="ADD">
</form>
<table class="table ">
    <tbody id="UserMapSysBodyTable">
        @foreach (antdlib.Users.SystemUserModel user in antdlib.Users.SystemUser.Map.GetMappedUsers()) {
            <tr>
                <td>@user.Alias </td>
                <td>@user.Password </td>
                <td> </td>
            </tr>
        }
    </tbody>
</table>