<legend id="InfoProcs">Procs</legend>
@if (Model.PROCS != null) {
    <table id="Output" class="table">
        <tbody>
            @foreach (Antd.ProcModel proc in Model.PROCS) {
                <tr>
                    <td class="right"><a class="kill-this" data-pid="@proc.PID"><i class="icon-cancel fg-red"></i></a></td>
                    <td class="right">@proc.UID</td>
                    <td class="right">@proc.PID</td>
                    <td class="right">@proc.PPID</td>
                    <td class="right">@proc.C</td>
                    <td class="right">@proc.STIME</td>
                    <td class="right">@proc.TTY</td>
                    <td class="right">@proc.TIME</td>
                    <td class="right">@proc.CMD</td>
                </tr>
            }
        </tbody>
    </table>
}