<legend id="Setup">Setup</legend>

<div data-role="tab-control" class="tab-control">
    <ul class="tabs">
        <li class="active"><a href="#if">Interfaces</a></li>
        <li><a href="#nbrn">Bridges</a></li>
        <li class="place-right"><a href="#ifv">Virtual Interfaces</a></li>
        <li class="place-right"><a href="#nwboot">Config Network @@ Boot</a></li>
    </ul>

    <div class="frames">
        <div id="if" class="frame" style="display: block;">
            @foreach (string interfaceName in antdlib.Network.NetworkInterface.Physical) {
                <div class="panel border-2-anthilla-gray" data-role="panel" style="margin-bottom: 5px;">
                    <div class="panel-header bg-anthilla-gray fg-white nif-header" data-nif-name="@interfaceName">
                        <i class="icon-cone on-left"></i>  @interfaceName
                    </div>
                    <div class="panel-content nif-content" style="display: none;" data-nif-content="@interfaceName">
                        <label>IPV4 configuration</label>
                        <hr class="bg-anthilla-gray border-anthilla-gray" />
                        <div class="grid">
                            @EditParameterRowPost("AddNewAddressIPV4", new string[] { "Address", "Range", "Broadcast" })
                            @EditParameterRowPost("DeleteAddressIPV4", new string[] { "Address", "Range", "Broadcast" })
                            @EditParameterRowPost("FlushConfigurationIPV4", new string[] { })
                            @EditParameterRowPost("AddRouteIPV4", new string[] { "Gateway", "Destination" })
                            @EditParameterRowPost("DeleteRouteIPV4", new string[] { "Gateway", "Destination" })
                            @EditParameterRowPost("AddMultipathRoute", new string[] { "Network1", "Network2" })
                            @*@EditParameterRowPost("AddNat", new string[] { "Address", "Via" })*@
                            @EditParameterRowPost("EnableInterface", new string[] { })
                            @EditParameterRowPost("DisableInterface", new string[] { })
                            @EditParameterRowPost("AddTunnelPointToPointIPV4", new string[] { "Ttl", "Tunnel", "Address" })
                            @EditParameterRowPost("DeleteTunnelPointToPointIPV4", new string[] { })
                        </div>
                        <hr class="bg-anthilla-gray border-anthilla-gray" />
                        <label>IPV6 configuration</label>
                        <hr class="bg-anthilla-gray border-anthilla-gray" />
                        <div class="grid">
                            @EditParameterRowPost("AddNewAddressIPV6", new string[] { "Address" })
                            @EditParameterRowPost("DeleteAddressIPV6", new string[] { "Address" })
                            @EditParameterRowPost("FlushConfigurationIPV6", new string[] { })
                            @EditParameterRowPost("AddNeighborsIPV6", new string[] { "Address", "Layer" })
                            @EditParameterRowPost("DeleteNeighborsIPV6", new string[] { "Address", "Layer" })
                            @EditParameterRowPost("AddRouteIPV6Gateway", new string[] { "Address", "Gateway" })
                            @EditParameterRowPost("DeleteRouteIPV6Gateway", new string[] { "Address", "Gateway" })
                            @EditParameterRowPost("AddRouteIPV6Interface", new string[] { "Address" })
                            @EditParameterRowPost("DeleteRouteIPV6Interface", new string[] { "Address" })
                        </div>
                        <hr class="bg-anthilla-gray border-anthilla-gray" />
                        <div class="grid">
                            @EditParameterRowGet("ShowInterfaceAddr", new string[] { })
                            @EditParameterRowGet("ShowInterfaceLink", new string[] { })
                            @EditParameterRowGet("ShowInterfaceStats", new string[] { })
                            @EditParameterRowGet("ShowRoutes", new string[] { })
                            <hr class="bg-anthilla-gray border-anthilla-gray" />
                            @EditParameterRowGet("ShowNeighborsIPV6", new string[] { })
                            @EditParameterRowGet("ShowTunnelsIPV6", new string[] { })
                        </div>
                    </div>
                </div>
            }
        </div>

        <div id="nbrn" class="frame" style="display: none;">
            <label>Bridge Configuration</label>
            <hr class="bg-anthilla-gray border-anthilla-gray" />
            <div class="grid">
                @EditParameterRowPost("AddBridgeName", new string[] { "Bridge" })
                @EditParameterRowPost("DeleteBridgeName", new string[] { "Bridge" })
                @EditParameterRowPost("AddNetworkInterfaceToBridge", new string[] { "Interface", "Bridge" })
                @EditParameterRowPost("DeleteNetworkInterfaceToBridge", new string[] { "Interface", "Bridge" })
                @EditParameterRowPost("EnableStpOnBridge", new string[] { "Bridge" })
                @EditParameterRowPost("DisableStpOnBridge", new string[] { "Bridge" })
                @EditParameterRowPost("SetBridgePathCost", new string[] { "Bridge", "Path", "Cost" })
                @EditParameterRowPost("SetBridgePortPriority", new string[] { "Bridge", "Port", "Priority" })
            </div>
            <hr class="bg-anthilla-gray border-anthilla-gray" />
            <div class="grid">
                @EditParameterRowGet("ShowBridgeMACS", new string[] { })
                @EditParameterRowGet("ShowBridgeSTP", new string[] { })
            </div>
        </div>

        <div id="ifv" class="frame" style="display: none;">
            @foreach (string interfaceName in antdlib.Network.NetworkInterface.Virtual) {
                <div class="panel border-2-anthilla-gray" data-role="panel" style="margin-bottom: 5px;">
                    <div class="panel-header bg-anthilla-gray fg-white nif-header" data-nif-name="@interfaceName">
                        <i class="icon-cone on-left"></i>  @interfaceName
                    </div>
                    <div class="panel-content nif-content" style="display: none;" data-nif-content="@interfaceName">
                        <label>IPV4 configuration</label>
                        <hr class="bg-anthilla-gray border-anthilla-gray" />
                        <div class="grid">
                            @EditParameterRowPost("AddNewAddressIPV4", new string[] { "Address", "Range", "Broadcast" })
                            @EditParameterRowPost("DeleteAddressIPV4", new string[] { "Address", "Range", "Broadcast" })
                            @EditParameterRowPost("FlushConfigurationIPV4", new string[] { })
                            @EditParameterRowPost("AddRouteIPV4", new string[] { "Gateway", "Destination" })
                            @EditParameterRowPost("DeleteRouteIPV4", new string[] { "Gateway", "Destination" })
                            @EditParameterRowPost("AddMultipathRoute", new string[] { "Network1", "Network2" })
                            @*@EditParameterRowPost("AddNat", new string[] { "Address", "Via" })*@
                            @EditParameterRowPost("EnableInterface", new string[] { })
                            @EditParameterRowPost("DisableInterface", new string[] { })
                            @EditParameterRowPost("AddTunnelPointToPointIPV4", new string[] { "Ttl", "Tunnel", "Address" })
                            @EditParameterRowPost("DeleteTunnelPointToPointIPV4", new string[] { })
                        </div>
                        <hr class="bg-anthilla-gray border-anthilla-gray" />
                        <label>IPV6 configuration</label>
                        <hr class="bg-anthilla-gray border-anthilla-gray" />
                        <div class="grid">
                            @EditParameterRowPost("AddNewAddressIPV6", new string[] { "Address" })
                            @EditParameterRowPost("DeleteAddressIPV6", new string[] { "Address" })
                            @EditParameterRowPost("FlushConfigurationIPV6", new string[] { })
                            @EditParameterRowPost("AddNeighborsIPV6", new string[] { "Address", "Layer" })
                            @EditParameterRowPost("DeleteNeighborsIPV6", new string[] { "Address", "Layer" })
                            @EditParameterRowPost("AddRouteIPV6Gateway", new string[] { "Address", "Gateway" })
                            @EditParameterRowPost("DeleteRouteIPV6Gateway", new string[] { "Address", "Gateway" })
                            @EditParameterRowPost("AddRouteIPV6Interface", new string[] { "Address" })
                            @EditParameterRowPost("DeleteRouteIPV6Interface", new string[] { "Address" })
                        </div>
                        <hr class="bg-anthilla-gray border-anthilla-gray" />
                        <div class="grid">
                            @EditParameterRowGet("ShowInterfaceAddr", new string[] { })
                            @EditParameterRowGet("ShowInterfaceLink", new string[] { })
                            @EditParameterRowGet("ShowInterfaceStats", new string[] { })
                            @EditParameterRowGet("ShowRoutes", new string[] { })
                            <hr class="bg-anthilla-gray border-anthilla-gray" />
                            @EditParameterRowGet("ShowNeighborsIPV6", new string[] { })
                            @EditParameterRowGet("ShowTunnelsIPV6", new string[] { })
                        </div>
                    </div>
                </div>
            }
        </div>

        <div id="nwboot" class="frame" style="display: none;">
            <input value="Export Network Configuration" id="ExportNetworkCommandTable" type="button" style="width: 100%; padding: 5px 12px;" class="bg-anthilla-green" />
            <hr class="bg-anthilla-gray border-anthilla-gray" />
            <table class="table">
                <tbody id="NetworkCommandTable"></tbody>
            </table>
        </div>
    </div>
</div>

@helper EditParameterRowPost(string functionName, string[] parameters) {
    <div class="row">
        <div class="span3">
            <label>@functionName</label>
        </div>
        <div class="span8">
            @foreach (string param in parameters) {
                <p style="display: inline-block;">@param</p>
                <input id="Value_@functionName@param" type="text" style="height: 25px; width: 80%; float: right;">
                <br style="margin-bottom: 5px;">
            }
        </div>
        <div class="span5">
            <input id="@functionName" type="button" style="height: 25px; width: 90%; padding: 4px 25px;" value="Apply @functionName" />
        </div>
    </div>
}

@helper EditParameterRowGet(string functionName, string[] parameters) {
    <div class="row">
        <div class="span3">
            <label>@functionName</label>
        </div>
        <div class="span5">
            <input id="@functionName" type="button" style="height: 25px; width: 90%; padding: 4px 25px;" value="Get @functionName" />
        </div>
        <div class="span8">
            <textarea id="@functionName" class="bg-anthilla-gray fg-white" style="width: 90%; height: 250px; min-height: 250px; max-height: 250px; display: none; overflow: scroll !important;"></textarea>
        </div>
    </div>
}