@*
    ///-------------------------------------------------------------------------------------
    ///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
    ///     All rights reserved.
    ///
    ///     Redistribution and use in source and binary forms, with or without
    ///     modification, are permitted provided that the following conditions are met:
    ///         * Redistributions of source code must retain the above copyright
    ///           notice, this list of conditions and the following disclaimer.
    ///         * Redistributions in binary form must reproduce the above copyright
    ///           notice, this list of conditions and the following disclaimer in the
    ///           documentation and/or other materials provided with the distribution.
    ///         * Neither the name of the Anthilla S.r.l. nor the
    ///           names of its contributors may be used to endorse or promote products
    ///           derived from this software without specific prior written permission.
    ///
    ///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    ///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    ///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
    ///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    ///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    ///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
    ///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    ///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    ///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    ///
    ///     20141110
    ///-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using System.Collections.Generic
@{Layout = "_layout.cshtml";}

@section PageBar {
    <style type="text/css">
        #Firewall-TB {
            border-bottom: 10px solid #A7BD39;
            height: 80px !important;
        }
    </style>
    <nav class="navigation-bar bg-anthilla-gray-m page-bar menu-bar" style="height: 50px !important;">
        <nav class="navigation-bar-content">
            <div class="element upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay" style="padding-top: 11px;">
                <i class="icon-fire on-left" style="line-height: 5px;"></i>
                NFTable
            </div>
            <div class="element-divider"></div>
        </nav>
    </nav>
}

@helper RulesetBox(string type, string hook, string color = "green") {
    <div data-object="ruleset" data-type="@type" data-hook="@hook" class="tile half no-outline border-anthilla-gray" style="width: 70px !important; text-align: center; margin-right: 0px;">
        <div style="width: 100%; height: 50%; border-bottom: 1px solid #3A3A3A; padding: 2px;" class="ribbed-@color fg-black">
            <span style="font-size: 12px !important">@type</span>
        </div>
        <div style="width: 100%; height: 50%; border-top: 1px solid #3A3A3A; padding: 2px;" class="bg-white fg-black">
            <span style="font-size: 10px !important">@hook</span>
        </div>
    </div>
}

@helper ConnectionBox(string text, string color = "grayLight") {
    <div class="tile half no-outline border-anthilla-gray" style="width: 70px !important; text-align: center; margin-right: 0px; border-radius: 10px;">
        <div class="bg-@color fg-black" style="width: 100%; height: 100%; padding: 5px;">
            <span>@text</span>
        </div>
    </div>
}

@helper EmptyBox() {
    <div class="tile half no-outline bg-transparent" style="width: 70px !important; text-align: center; margin-right: 0px; cursor: default !important;">
    </div>
}

@section MainContent {
    <div class="cctable-container border-2-anthilla-gray" style="width: 100%; min-height: 100px;  margin-bottom: 15px; padding: 15px;">
        <legend><i class="icon-fire on-left"></i> NFTable Configuration .3</legend>
        @*<canvas style="width: 1487px; margin-left: -13px; position: absolute; z-index: 0; opacity: 0.5; height: 530px;" id="canvas" class="ribbed-blue border-2-anthilla-gray"></canvas>*@
        <div class="grid bg-transparent" style="width: 1487px; margin-left: -13px;">
            <div class="row bg-transparent" style="min-height: 40px; margin-bottom: 10px;" data-layer="application">
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @ConnectionBox("local process")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
            </div>
            <div class="row bg-transparent" style="min-height: 40px; margin-bottom: 10px;" data-layer="protocol">
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @ConnectionBox("xfrm decode")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @ConnectionBox("xfrm/socket lookup")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @ConnectionBox("xfrm encode")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
            </div>
            <div class="row bg-transparent" style="min-height: 40px; margin-bottom: 10px;" data-layer="network">
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("filter", "input")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @ConnectionBox("routing decision")
                @RulesetBox("raw", "output")
                @ConnectionBox("conntrack")
                @RulesetBox("mangle", "output")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
            </div>
            <div class="row bg-transparent" style="min-height: 40px; margin-bottom: 10px;" data-layer="network">
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("mangle", "input")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("filter", "output")
                @RulesetBox("nat", "output")
                @ConnectionBox("reroute check")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
            </div>
            <div class="row bg-transparent" style="min-height: 40px; margin-bottom: 10px;" data-layer="network">
                @EmptyBox()
                @ConnectionBox("taps")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("raw", "prerouting")
                @ConnectionBox("conntrack")
                @RulesetBox("mangle", "prerouting")
                @RulesetBox("nat", "prerouting")
                @ConnectionBox("routing decision")
                @EmptyBox()
                @RulesetBox("mangle", "forward")
                @RulesetBox("filter", "forward")
                @EmptyBox()
                @RulesetBox("mangle", "postrouting")
                @RulesetBox("nat", "postrouting")
                @EmptyBox()
                @ConnectionBox("xfrm lookup")
                @EmptyBox()
                @EmptyBox()
                @ConnectionBox("af_packet")
            </div>
            <div class="row bg-transparent" style="min-height: 40px; margin-bottom: 10px;" data-layer="link">
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("filter", "input", "blue")
                @EmptyBox()
                @RulesetBox("mangle", "forward")
                @RulesetBox("filter", "forward")
                @EmptyBox()
                @RulesetBox("mangle", "postrouting")
                @RulesetBox("nat", "postrouting")
                @RulesetBox("nat", "output", "blue")
                @RulesetBox("filter", "postrouting", "blue")
                @RulesetBox("nat", "output", "blue")
                @EmptyBox()
                @EmptyBox()
            </div>
            <div class="row bg-transparent" style="min-height: 40px; margin-bottom: 10px;" data-layer="link">
                @ConnectionBox("(start)")
                @ConnectionBox("ingress")
                @ConnectionBox("bridge check")
                @RulesetBox("broute", "brouting", "blue")
                @RulesetBox("nat", "prerouting", "blue")
                @RulesetBox("raw", "prerouting")
                @ConnectionBox("conntrack")
                @RulesetBox("mangle", "prerouting")
                @RulesetBox("nat", "prerouting")
                @ConnectionBox("bridging decision")
                @RulesetBox("filter", "forward", "blue")
                @RulesetBox("mangle", "forward")
                @RulesetBox("filter", "forward")
                @RulesetBox("nat", "postrouting", "blue")
                @RulesetBox("mangle", "postrouting")
                @RulesetBox("nat", "postrouting")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @ConnectionBox("egress")
                @ConnectionBox("interface output")
            </div>
        </div>
        <hr class="bg-anthilla-gray" />
        <h2 style="display: inline-block;" class="fg-white">Rules for: </h2>
        <h2 style="display: inline-block;" class="fg-white data-display-type"></h2>
        <h2 style="display: inline-block;" class="fg-white data-display-hook"></h2>
        <br />
        <form action="/firewall/rule" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="Type" class="data-display-type" />
            <input type="hidden" name="Hook" class="data-display-hook" />
            <textarea name="Ruleset" class="bg-anthilla-gray border-anthilla-gray fg-white" style="width: 855px; min-height: 350px;"></textarea>
            <input type="submit" value="Update Rules" />
        </form>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $('div[data-object="ruleset"]').dblclick(function () {
            var type = $(this).attr('data-type');
            var hook = $(this).attr('data-hook');
            $('.data-display-type').text(type);
            $('input.data-display-type').val(type);
            $('.data-display-hook').text(hook);
            $('input.data-display-hook').val(hook);
            //get ruleset, se ci sono, con ajax
            //e mostrarle  in textarea
        });
    </script>
}
