@*
    ///-------------------------------------------------------------------------------------
    ///     Copyright (c) 2014, Anthilla S.r.l. (http://www.anthilla.com)
    ///     All rights reserved.
    ///
    ///     Redistribution and use in source and binary forms, with or without
    ///     modification, are permitted provided that the following conditions are met:
    ///         * Redistributions of source code must retain the above copyright
    ///           notice, this list of conditions and the following disclaimer.
    ///         * Redistributions in binary form must reproduce the above copyright
    ///           notice, this list of conditions and the following disclaimer in the
    ///           documentation and/or other materials provided with the distribution.
    ///         * Neither the name of the Anthilla S.r.l. nor the
    ///           names of its contributors may be used to endorse or promote products
    ///           derived from this software without specific prior written permission.
    ///
    ///     THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
    ///     ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
    ///     WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
    ///     DISCLAIMED. IN NO EVENT SHALL ANTHILLA S.R.L. BE LIABLE FOR ANY
    ///     DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
    ///     (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
    ///     LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
    ///     ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
    ///     (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
    ///     SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
    ///
    ///     20141110
    ///-------------------------------------------------------------------------------------*@

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{Layout = "_layout.cshtml";}

@section PageBar {
    <style type="text/css">
        #Firewall-TB {
            border-bottom: 10px solid #A7BD39;
            height: 80px !important;
        }
    </style>
    <nav class="navigation-bar bg-anthilla-gray-m page-bar menu-bar" style="height: 50px !important;">
        <nav class="navigation-bar-content">
            <div class="element upcase fg-anthilla-green border-2-anthilla-gray-m no-overlay" style="padding-top: 11px;">
                <i class="icon-fire on-left" style="line-height: 5px;"></i>
                NFTable
            </div>
            <div class="element-divider"></div>
        </nav>
    </nav>
}

@helper RulesetBox(string type, string hook, string table, string color = "green") {
    <div data-object="ruleset" data-type="@type" data-hook="@hook" data-table="@table" class="tile half no-outline border-anthilla-gray" style="width: 75px !important; text-align: center; margin-right: 0px;">
        <div style="width: 100%; height: 50%; border-bottom: 1px solid #3A3A3A; padding: 2px;" class="ribbed-@color fg-black">
            <span style="font-size: 12px !important">@type</span>
        </div>
        <div style="width: 100%; height: 50%; border-top: 1px solid #3A3A3A; padding: 2px;" class="bg-white fg-black">
            <span style="font-size: 10px !important">@hook</span>
        </div>
    </div>
}

@helper ConnectionBox(string text, string color = "grayLight") {
    <div class="tile half no-outline border-anthilla-gray" style="width: 75px !important; text-align: center; margin-right: 0px;">
        <div class="bg-@color fg-black" style="width: 100%; height: 100%; padding: 5px;">
            <span>@text</span>
        </div>
    </div>
}

@helper EmptyBox() {
    <div class="tile half no-outline bg-transparent" style="width: 75px !important; text-align: center; margin-right: 0px; cursor: default !important;">
    </div>
}

@section MainContent {
    <div class="cctable-container border-2-anthilla-gray" style="width: 100%; min-height: 100px;  margin-bottom: 15px; padding: 15px;">
        <legend>
            <i class="icon-fire on-left"></i>
            NFTable Configuration
            <i id="applyRuleSet" class="icon-upload fg-anthilla-green" style="float: right; cursor: pointer !important;"></i>
            <i id="RestartNFTABLE" class="icon-loop fg-anthilla-blu" style="float: right; cursor: pointer !important;"></i>
        </legend>
        <div style="margin-bottom: 55px;">
            <label style="float:left; position: relative; left: 140px;">prerouting</label>
            <label style="float:left; position: relative; left: 250px;">input</label>
            <label style="float:left; position: relative; left: 430px;">forward</label>
            <label style="float:left; position: relative; left: 600px;">output</label>
            <label style="float:left; position: relative; left: 695px;">postrouting</label>
        </div>
        <div style="width: 1450px; height: 500px ;  position:absolute; z-index: 0; opacity: 0.3;">
            <div data-hook="prerouting" style="height: 100%; width: 150px; position: relative ;left: 105px; float: left;" class="bg-white"></div>
            <div data-hook="input" style="height: 100%; width: 150px; position: relative; left: 115px; float: left;" class="bg-white"></div>
            <div data-hook="forward" style="height: 100%; width: 150px; position: relative ;left:185px; float: left;" class="bg-white"></div>
            <div data-hook="output" style="height: 100%; width: 150px; position: relative ;left:255px; float: left;" class="bg-white"></div>
            <div data-hook="postrouting" style="height: 100%; width: 150px; position: relative ;left:265px; float: left;" class="bg-white"></div>
        </div> 
        <div class="grid bg-transparent" style="width: 1450px; position:relative; z-index: 4;">
            <div class="row bg-transparent" style="margin-bottom: 10px;">
                @ConnectionBox("IP", "gray")
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("route", "input", "ip", "red")
                @RulesetBox("filter", "input", "ip")
                @RulesetBox("nat", "input", "ip", "blue")
                @EmptyBox()
                @ConnectionBox("local macine")
                @EmptyBox()
                @RulesetBox("nat", "output", "ip", "blue")
                @RulesetBox("filter", "output", "ip")
                @RulesetBox("route", "output", "ip", "red")
            </div>
            <div class="row bg-transparent" style="margin-bottom: 10px;">
                @EmptyBox()
                @RulesetBox("nat", "prerouting", "ip", "blue")
                @RulesetBox("filter", "prerouting", "ip")
                @RulesetBox("route", "prerouting", "ip", "red")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("route", "postrouting", "ip", "red")
                @RulesetBox("filter", "postrouting", "ip")
                @RulesetBox("nat", "postrouting", "ip", "blue")
            </div>
            <div class="row bg-transparent" style="margin-bottom: 10px;">
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("route", "forward", "ip", "red")
                @RulesetBox("filter", "forward", "ip")
                @RulesetBox("nat", "forward", "ip", "blue")
            </div>
            <hr class="bg-anthilla-gray" />
            <div class="row bg-transparent" style="margin-bottom: 10px;">
                @ConnectionBox("ARP", "gray")
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("route", "input", "arp", "red")
                @RulesetBox("filter", "input", "arp")
                @RulesetBox("nat", "input", "arp", "blue")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("nat", "output", "arp", "blue")
                @RulesetBox("filter", "output", "arp")
                @RulesetBox("route", "output", "arp", "red")
            </div>
            <hr class="bg-anthilla-gray" />
            <div class="row bg-transparent" style="margin-bottom: 10px;">
                @ConnectionBox("BRIDGE", "gray")
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("route", "input", "bridge", "red")
                @RulesetBox("filter", "input", "bridge")
                @RulesetBox("nat", "input", "bridge", "blue")
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("nat", "output", "bridge", "blue")
                @RulesetBox("filter", "output", "bridge")
                @RulesetBox("route", "output", "bridge", "red")
            </div>
            <div class="row bg-transparent" style="margin-bottom: 10px;">
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @EmptyBox()
                @RulesetBox("route", "forward", "bridge", "red")
                @RulesetBox("filter", "forward", "bridge")
                @RulesetBox("nat", "forward", "bridge", "blue")
            </div>
        </div>

        <form action="/firewall/rule" method="POST" enctype="multipart/form-data">
            <hr class="bg-anthilla-gray" />
            <h2 style="display: inline-block;" class="fg-white">Rules for: </h2>
            <h2 style="display: inline-block;" class="fg-white data-display-table"></h2>
            <h2 style="display: inline-block;" class="fg-white data-display-type"></h2>
            <h2 style="display: inline-block;" class="fg-white data-display-hook"></h2>
            <input type="submit" value="Update Rules" style="float: right; margin-right: 104px;" />
            <br />
            <input type="hidden" name="Table" class="data-display-table" />
            <input type="hidden" name="Type" class="data-display-type" />
            <input type="hidden" name="Hook" class="data-display-hook" />
            <label data-table="ip" style="width: 33%; padding: 5px;" class="bg-anthilla-gray">ip table</label>
            <textarea name="RuleIp" class="bg-anthilla-gray border-anthilla-gray fg-white" style="display: none; width: 90%; max-width: 90%; min-width: 90%;  min-height: 300px; margin-bottom: 3px; padding: 5px;"></textarea>
            <label data-table="ip6" style="width: 33%; padding: 5px;" class="bg-anthilla-gray">ip6 table</label>
            <textarea name="RuleIp6" class="bg-anthilla-gray border-anthilla-gray fg-white" style="display: none; width: 90%; max-width: 90%; min-width: 90%; min-height: 300px; margin-bottom: 3px; padding: 5px;"></textarea>
            <label data-table="arp" style="width: 33%; padding: 5px;" class="bg-anthilla-gray">arp table</label>
            <textarea name="RuleArp" class="bg-anthilla-gray border-anthilla-gray fg-white" style="display: none; width: 90%; max-width: 90%; min-width: 90%; min-height: 300px; margin-bottom: 3px; padding: 5px;"></textarea>
            <label data-table="bridge" style="width: 33%; padding: 5px;" class="bg-anthilla-gray">bridge table</label>
            <textarea name="RuleBridge" class="bg-anthilla-gray border-anthilla-gray fg-white" style="display: none; width: 90%; max-width: 90%; min-width: 90%; min-height: 300px; margin-bottom: 3px; padding: 5px;"></textarea>
        </form>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $('div[data-object="ruleset"]').dblclick(function () {
            var table = $(this).attr('data-table');
            var type = $(this).attr('data-type');
            var hook = $(this).attr('data-hook');
            $('h2.data-display-table').text(table);
            $('input.data-display-table').val(table);
            $('h2.data-display-type').text(type);
            $('input.data-display-type').val(type);
            $('h2.data-display-hook').text(hook);
            $('input.data-display-hook').val(hook);
            if (table == 'ip') {
                $('label[data-table="ip"]').show();
                $('label[data-table="ip6"]').show();
                $('label[data-table="arp"]').hide();
                $('label[data-table="bridge"]').hide();
                $('textarea[name="RuleIp"]').show();
                $('textarea[name="RuleIp6"]').show();
                $('textarea[name="RuleArp"]').hide();
                $('textarea[name="RuleBridge"]').hide();
            }
            else if (table == 'ip') {
                $('label[data-table="ip"]').hide();
                $('label[data-table="ip6"]').hide();
                $('label[data-table="arp"]').show();
                $('label[data-table="bridge"]').hide();
                $('textarea[name="RuleIp"]').hide();
                $('textarea[name="RuleIp6"]').hide();
                $('textarea[name="RuleArp"]').show();
                $('textarea[name="RuleBridge"]').hide();
            }
            else if (table == 'bridge') {
                $('label[data-table="ip"]').hide();
                $('label[data-table="ip6"]').hide();
                $('label[data-table="arp"]').hide();
                $('label[data-table="bridge"]').show();
                $('textarea[name="RuleIp"]').hide();
                $('textarea[name="RuleIp6"]').hide();
                $('textarea[name="RuleArp"]').hide();
                $('textarea[name="RuleBridge"]').show();
            }
            jQuery.support.cors = true;
            $.ajax({
                url: '/firewall/rule/' + table + '/' + type + '/' + hook,
                type: 'GET',
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    $('textarea[name="RuleIp"]').text(data[0]);
                    $('textarea[name="RuleIp6"]').text(data[1]);
                    $('textarea[name="RuleArp"]').text(data[2]);
                    $('textarea[name="RuleBridge"]').text(data[3]);
                    return false;
                }
            });
        });

        $('#applyRuleSet').click(function () {
            jQuery.support.cors = true;
            $.ajax({
                url: '/firewall/apply',
                type: 'POST',
                success: function () {
                    location.reload(true);
                    return false;
                }
            });
        });

        $('#RestartNFTABLE').click(function () {
            jQuery.support.cors = true;
            $.ajax({
                url: '/firewall/restart',
                type: 'POST',
                success: function () {
                    location.reload(true);
                    return false;
                }
            });
        });
    </script>
}
