<legend id="Mount">Mount</legend>
<input type="text" class="search-field" style="position: relative; margin-bottom: 15px; height: 30px; width: 100%; padding-left: 5px;" placeholder="Search">

<table class="table searchable" style="width: 50%; display: inline-block; float: left;">
    <thead>
        <tr>
            <th class="text-left" style="text-align: center;">Running (/proc/mounts)</th>
        </tr>
    </thead>
    <tbody id="MountRunningTable">
        @foreach (antdlib.Models.MountModel value in Model.RUNNING) {
            <tr>
                <td style="text-align: right;">
                    @value.device @value.mountpoint @value.fstype @value.rorw @value.dv1 @value.dv2
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table searchable" style="width: 50%; display: inline-block; float: left;">
    <thead>
        <tr>
            <th class="text-left" style="text-align: center;">Antd (@antdlib.Folder.Config)</th>
        </tr>
    </thead>
    <tbody id="MountAntdTable">
        @foreach (antdlib.Models.MountModel value in Model.ANTD) {
            <tr>
                <td style="text-align: right;">
                    @value.device @value.mountpoint @value.fstype @value.rorw @value.dv1 @value.dv2
                </td>
            </tr>
        }
    </tbody>
</table>
